@model GeoItemsViewModel
@{
    var item = Model.TechTransferCenter.First();

}

<div class="window-header">
    <div class="window-header_wrapper">
        <img src="../../icons/ctt-small.svg" />
        <div class="title-wh" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="@item.NameTechTransferCenter">
            @item.NameTechTransferCenter
        </div>
    </div>
</div>

<!-- close-window -->
<div class="close-window" title="Закрыть">×</div>

<div class="window-body">
    <div class="window-side-button"></div>
    <!-- burger-btn -->
    <!-- window-images -->
    <div class="window-images">
        <div class="col-img">
            <img src="../../img/grsu_myuniver.jpg" style="width:100%" onclick="openModal();currentSlide(1)"
                 class="hover-shadow cursor">
        </div>
        <div class="col-img">
            <img src="../../img/foto-grgu.jpg" style="width:100%" onclick="openModal();currentSlide(2)"
                 class="hover-shadow cursor">
        </div>
        <div class="col-img">
            <img src="../../img/grsu_myuniver.jpg" style="width:100%" onclick="openModal();currentSlide(3)"
                 class="hover-shadow cursor">
        </div>
        <div class="col-img">
            <img src="../../img/grgu-grgu.jpg" style="width:100%" onclick="openModal();currentSlide(4)"
                 class="hover-shadow cursor">
        </div>
        <div class="col-img">
            <img src="../../img/grsu_myuniver.jpg" style="width:100%" onclick="openModal();currentSlide(5)"
                 class="hover-shadow cursor">
        </div>
        <div class="col-img">
            <img src="../../img/art_420_orig.jpg" style="width:100%" onclick="openModal();currentSlide(6)"
                 class="hover-shadow cursor">
        </div>
    </div>
    <!-- end window-images -->
    <!-- modal-gallery -->
    <div id="modal-gallery" class="modal-gallery">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../img/grsu_myuniver.jpg" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../img/foto-grgu.jpg" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../img/grsu_myuniver.jpg" style="width:100%">
                </div>
                     <div class="carousel-item">
                    <img src="../../img/grgu-grgu.jpg" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../img/grsu_myuniver.jpg" style="width:100%">
                </div>
                <div class="carousel-item">
                    <img src="../../img/art_420_orig.jpg" style="width:100%">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Предыдущий</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Следующий</span>
            </button>
        </div>
    </div>
    <!-- end modal-gallery -->
    <!-- data table -->
    <div>
        <table class="window-object-data">
            <tbody>
                <tr>
                    <td class="object-field-name header first_level" colspan="2">
                        <h2 id="windh0">Общая информация</h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Наименование центра трансфера технологий
                                        </td>
                                        <td class="object-field-value">
                                            @item.NameTechTransferCenter
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Услуги, предоставляемые центром трансфера технологий
                                        </td>
                                        <td class="object-field-value">
                                            @item.ServicesProvidedTechTransferCenter
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Адрес</td>
                                        <td class="object-field-value">@item.AdressTechTransferCenter</td>
                                    </tr>

                                    <tr>
                                        <td class="object-field-name  ">Телефон</td>
                                        <td class="object-field-value">@item.PhoneTechTransferCenter</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">E-mail</td>
                                        <td class="object-field-value">
                                            <a href="@item.EmailTechTransferCenter"
                                               target="_blank">@item.EmailTechTransferCenter</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Адрес сайта центра трансфера технологий в сети интернет
                                        </td>
                                        <td class="object-field-value">
                                            <a href="@item.WebsiteTechTransferCenter"
                                               target="_blank">@item.WebsiteTechTransferCenter</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="object-field-name header first_level" colspan="2">
                        <h2 id="windh1">Финансирование</h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Объем финансирования в рамках ГПИР 2021-2025 (в тыс.
                                            бел.рублей)
                                        </td>
                                        <td class="object-field-value">@item.AmountFunding</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="object-field-name header first_level" colspan="2">
                        <h2 id="windh2">Показатели деятельности </h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td id="windh3" class="object-field-name  ">
                                            Количество поступивших в центр и принятых к
                                            работе
                                            технологических предложений в 2022 году (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberAcceptedWorkProposals</td>
                                    </tr>
                                    <tr>
                                        <td id="windh4" class="object-field-name  ">
                                            Количество поступивших в центр и принятых к
                                            работе
                                            технологических запросов в 2022 году (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberAcceptedWorkRequests</td>
                                    </tr>
                                    <tr>
                                        <td id="windh5" class="object-field-name  ">
                                            Количество заключенных при содействии центра
                                            сделок по
                                            передаче (приобретению) прав на результаты научно-технической и (или) инновационной
                                            деятельности за 2022 год (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberTransactionsConcluded</td>
                                    </tr>
                                    <tr>
                                        <td id="windh6" class="object-field-name  ">
                                            Объем заключенных при содействии центра
                                            сделок
                                            по
                                            передаче
                                            (приобретению) прав на результаты научно-технической и (или) инновационной
                                            деятельности
                                            за 2022 год (тыс. рублей)
                                        </td>
                                        <td class="object-field-value">@item.VolumeTransactionsConcluded</td>
                                    </tr>
                                    <tr>
                                        <td id="windh7" class="object-field-name  ">
                                            Количество сформированных при содействии
                                            центра
                                            научно-технических, инновационных (инвестиционных) и иных проектов (работ) за 2022 год
                                            (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberGeneratedProjects</td>
                                    </tr>
                                    <tr>
                                        <td id="windh8" class="object-field-name  ">
                                            Объем сформированных при содействии центра
                                            научно-технических, инновационных (инвестиционных) и иных проектов (работ) за 2022 год
                                            (тыс. рублей)
                                        </td>
                                        <td class="object-field-value">@item.VolumeGeneratedProjects</td>
                                    </tr>
                                    <tr>
                                        <td id="windh9" class="object-field-name  ">
                                            Объем выполненных центром работ (услуг),
                                            связанных
                                            с
                                            коммерциализацией результатов научно-технической и (или) инновационной деятельности за
                                            2022 год (тыс. рублей)
                                        </td>
                                        <td class="object-field-value">@item.VolumeWorkPerformed</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        @*<div style="height: 122px;">&nbsp;</div>*@
    </div>
    <!-- end data table -->
</div>
<div class="window-side-button"></div>

<!-- window-child -->
<div class="window-child">
    <div class="window-child-container">
        <div class="overview" style="top: 0px; left: 0px; bottom: 10px; display: block;">
            <ol>
                <li data-link="windh0">
                    <div class="active-li">Общая информация</div>
                </li>
                <li data-link="windh1">
                    <div>Финансирование</div>
                </li>
                <li data-link="windh2">
                    <div>Показатели деятельности </div>
                </li>
                <ol class="mt-1">
                    <li data-link="windh3">
                        <div>
                            Количество поступивших в центр и принятых к работе технологических предложений в 2022 году (ед.)
                        </div>
                    </li>
                    <li data-link="windh4">
                        <div>
                            Количество поступивших в центр и принятых к работе технологических запросов в 2022 году (ед.)
                        </div>
                    </li>
                    <li data-link="windh5">
                        <div>
                            Количество заключенных при содействии центра сделок по передаче (приобретению) прав на
                            результаты научно-технической и (или) инновационной деятельности за 2022 год (ед.)
                        </div>
                    </li>
                    <li data-link="windh6">
                        <div>
                            Объем заключенных при содействии центра сделок по передаче (приобретению) прав на результаты
                            научно-технической и (или) инновационной деятельности за 2022 год (тыс. рублей)
                        </div>
                    </li>
                    <li data-link="windh7">
                        <div>
                            Количество сформированных при содействии центра научно-технических, инновационных
                            (инвестиционных) и иных проектов (работ) за 2022 год (ед.)
                        </div>
                    </li>
                    <li data-link="windh8">
                        <div>
                            Объем сформированных при содействии центра научно-технических, инновационных (инвестиционных)
                            и
                            иных проектов (работ) за 2022 год (тыс. рублей)
                        </div>
                    </li>
                    <li data-link="windh9">
                        <div>
                            Объем выполненных центром работ (услуг), связанных с коммерциализацией результатов
                            научно-технической и (или) инновационной деятельности за 2022 год (тыс. рублей)
                        </div>
                    </li>
                </ol>
            </ol>
        </div>

    </div>
    <div class="window-side-button_left"></div>

</div>
<!--end window-child -->

<script>


    var listItems = document.querySelectorAll("ol li[data-link], ol li ol li[data-link]");
    listItems.forEach(function (listItem) {
        var linkValue = listItem.getAttribute("data-link");
        var targetElement = document.getElementById(linkValue);
        if (targetElement) {
            listItem.addEventListener("click", function (e) {
                e.stopPropagation(); // останавливаю всплытие события
                targetElement.scrollIntoView({
                    behavior: "smooth"
                });
            });
        }
    });


    //active element on click li
    document.querySelectorAll("ol li > div").forEach(div => {
        div.addEventListener("click", function (e) {
            document.querySelectorAll(".active-li").forEach(active => {
                active.classList.remove("active-li");
            });
            this.classList.add("active-li");
        });
    });


</script>