@model GeoItemsViewModel
@{
    var item = Model.TechTransferCenter.First();

}

<div class="window-header">
    <div class="window-header_wrapper">
        <img src="../../icons/ctt-small.svg" />
        <div class="title-wh" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="@item.NameTechTransferCenter">
            @item.NameTechTransferCenter
        </div>
    </div>
</div>

<!-- close-window -->
<div class="close-window" title="Закрыть">
    <img src="../../icons/close-window.svg" />
</div>

<div class="window-body" id="table_scroll">
    @* <div class="window-side-button"></div>*@
    <!-- burger-btn -->
    <!-- window-images -->
    <div class="window-images">
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>

    </div>
    <!-- data table -->
    <div>
        <table class="window-object-data">
            <tbody>
                <tr id="scroll_block_1">
                    <td class="object-field-name header first_level" colspan="2">
                        <div class="link-down d-flex justify-content-between">
                            <h2 id="windh0">Общая информация</h2>
                            <a class="mt-2"><img src="../../icons/download.svg" /></a>
                        </div>
                        
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Наименование центра трансфера технологий
                                        </td>
                                        <td class="object-field-value">
                                            @item.NameTechTransferCenter
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Услуги, предоставляемые центром трансфера технологий
                                        </td>
                                        <td class="object-field-value">
                                            @item.ServicesProvidedTechTransferCenter
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Адрес</td>
                                        <td class="object-field-value">@item.AdressTechTransferCenter</td>
                                    </tr>

                                    <tr>
                                        <td class="object-field-name  ">Телефон</td>
                                        <td class="object-field-value">@item.PhoneTechTransferCenter</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">E-mail</td>
                                        <td class="object-field-value">
                                            <a href="@item.EmailTechTransferCenter"
                                               target="_blank">@item.EmailTechTransferCenter</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Адрес сайта центра трансфера технологий в сети интернет
                                        </td>
                                        <td class="object-field-value">
                                            <a href="@item.WebsiteTechTransferCenter"
                                               target="_blank">@item.WebsiteTechTransferCenter</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr id="scroll_block_2">
                    <td class="object-field-name header first_level link-down" colspan="2">
                        <h2 id="windh1">Финансирование</h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Объем финансирования в рамках ГПИР 2021-2025 (в тыс.
                                            бел.рублей)
                                        </td>
                                        <td class="object-field-value">@item.AmountFunding</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="object-field-name header first_level link-down" colspan="2">
                        <h2 class="scroll_block_3" id="windh2">Показатели деятельности </h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr id="scroll_block_4">
                                        <td id="windh3" class="object-field-name  ">
                                            Количество поступивших в центр и принятых к
                                            работе
                                            технологических предложений в 2022 году (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberAcceptedWorkProposals</td>
                                    </tr>
                                    <tr id="scroll_block_5">
                                        <td id="windh4" class="object-field-name  ">
                                            Количество поступивших в центр и принятых к
                                            работе
                                            технологических запросов в 2022 году (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberAcceptedWorkRequests</td>
                                    </tr>
                                    <tr id="scroll_block_6">
                                        <td id="windh5" class="object-field-name  ">
                                            Количество заключенных при содействии центра
                                            сделок по
                                            передаче (приобретению) прав на результаты научно-технической и (или) инновационной
                                            деятельности за 2022 год (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberTransactionsConcluded</td>
                                    </tr>
                                    <tr id="scroll_block_7">
                                        <td id="windh6" class="object-field-name  ">
                                            Объем заключенных при содействии центра
                                            сделок
                                            по
                                            передаче
                                            (приобретению) прав на результаты научно-технической и (или) инновационной
                                            деятельности
                                            за 2022 год (тыс. рублей)
                                        </td>
                                        <td class="object-field-value">@item.VolumeTransactionsConcluded</td>
                                    </tr>
                                    <tr id="scroll_block_8">
                                        <td id="windh7" class="object-field-name  ">
                                            Количество сформированных при содействии
                                            центра
                                            научно-технических, инновационных (инвестиционных) и иных проектов (работ) за 2022 год
                                            (ед.)
                                        </td>
                                        <td class="object-field-value">@item.NumberGeneratedProjects</td>
                                    </tr>
                                    <tr id="scroll_block_9">
                                        <td id="windh8" class="object-field-name  ">
                                            Объем сформированных при содействии центра
                                            научно-технических, инновационных (инвестиционных) и иных проектов (работ) за 2022 год
                                            (тыс. рублей)
                                        </td>
                                        <td class="object-field-value">@item.VolumeGeneratedProjects</td>
                                    </tr>
                                    <tr id="scroll_block_10">
                                        <td id="windh9" class="object-field-name  ">
                                            Объем выполненных центром работ (услуг),
                                            связанных
                                            с
                                            коммерциализацией результатов научно-технической и (или) инновационной деятельности за
                                            2022 год (тыс. рублей)
                                        </td>
                                        <td class="object-field-value">@item.VolumeWorkPerformed</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        @*<div style="height: 122px;">&nbsp;</div>*@
    </div>
    <!-- end data table -->
</div>
@*<div class="window-side-button"></div>
*@
<!-- window-child -->
<div class="window-child">
    <div class="window-child-container">
        <div class="overview" style="top: 0px; left: 0px; bottom: 10px; display: block;">
            <ol>
                <li data-link="windh0">
                    <div id="scroll_link_1" class="active-li">Общая информация</div>
                </li>
                <li data-link="windh1">
                    <div id="scroll_link_2">Финансирование</div>
                </li>
                <li data-link="windh2">
                    <div id="scroll_link_3">Показатели деятельности </div>
                </li>
                <ol class="mt-1">
                    <li data-link="windh3">
                        <div id="scroll_link_4">
                            Количество поступивших в центр и принятых к работе технологических предложений в 2022 году (ед.)
                        </div>
                    </li>
                    <li data-link="windh4">
                        <div id="scroll_link_5">
                            Количество поступивших в центр и принятых к работе технологических запросов в 2022 году (ед.)
                        </div>
                    </li>
                    <li data-link="windh5">
                        <div id="scroll_link_6">
                            Количество заключенных при содействии центра сделок по передаче (приобретению) прав на
                            результаты научно-технической и (или) инновационной деятельности за 2022 год (ед.)
                        </div>
                    </li>
                    <li data-link="windh6">
                        <div id="scroll_link_7">
                            Объем заключенных при содействии центра сделок по передаче (приобретению) прав на результаты
                            научно-технической и (или) инновационной деятельности за 2022 год (тыс. рублей)
                        </div>
                    </li>
                    <li data-link="windh7">
                        <div id="scroll_link_8">
                            Количество сформированных при содействии центра научно-технических, инновационных
                            (инвестиционных) и иных проектов (работ) за 2022 год (ед.)
                        </div>
                    </li>
                    <li data-link="windh8">
                        <div id="scroll_link_9">
                            Объем сформированных при содействии центра научно-технических, инновационных (инвестиционных)
                            и
                            иных проектов (работ) за 2022 год (тыс. рублей)
                        </div>
                    </li>
                    <li data-link="windh9">
                        <div id="scroll_link_10">
                            Объем выполненных центром работ (услуг), связанных с коммерциализацией результатов
                            научно-технической и (или) инновационной деятельности за 2022 год (тыс. рублей)
                        </div>
                    </li>
                </ol>
            </ol>
        </div>

    </div>
    @*  <div class="window-side-button_left"></div>*@

</div>
<!--end window-child -->

<script>

    //scrolling
    function full_visible(scroll_table, targets) {

        var final = false;

        for (let i = 0; i < targets.length; i++) {
            targets[i][1].css("color", "black");
            var y = $(scroll_table).height(); // Высота блока со скроллингом (только его видимая часть)
            var z = targets[i][0].height(); // Высота элемента
            var a = targets[i][0].offset().top; // Расстояние от элемента до верха документа
            var b = $(scroll_table).offset().top; // Расстояние от блока со скроллингом до верха документа
            var c = a - b; // Расстояние от элемента до верхней границы

            if (c + z <= y && c > 0 && targets[i][2] === "bottom") {
                final = targets[i][1];
            }
            if (c - 25 <= 0 && targets[i][2] === "top") {
                final = targets[i][1];
            }
            if (c - (y / 2) <= 0 && targets[i][2] === "middle") {
                final = targets[i][1];
            }
        }
        return final;
    }


    $(document).ready(function () {
        var scroll_links =
            [
                [$("#scroll_block_1"), $("#scroll_link_1"), "top"],
                [$("#scroll_block_2"), $("#scroll_link_2"), "top"],
                [$(".scroll_block_3"), $("#scroll_link_3"), "top"],
                [$("#scroll_block_4"), $("#scroll_link_4"), "top"],
                [$("#scroll_block_5"), $("#scroll_link_5"), "top"],
                [$("#scroll_block_6"), $("#scroll_link_6"), "top"],
                [$("#scroll_block_7"), $("#scroll_link_7"), "bottom"],
                [$("#scroll_block_8"), $("#scroll_link_8"), "bottom"],
                [$("#scroll_block_9"), $("#scroll_link_9"), "bottom"],
                [$("#scroll_block_10"), $("#scroll_link_10"), "bottom"],
            ];


        $("#table_scroll").scroll(function () {
            var link = full_visible(this, scroll_links);
            if (link) {
                link.css("color", "#00a7e5");
            }
        });
    });

    var listItems = document.querySelectorAll("ol li[data-link], ol li ol li[data-link]");
    listItems.forEach(function (listItem) {
        var linkValue = listItem.getAttribute("data-link");
        var targetElement = document.getElementById(linkValue);
        if (targetElement) {
            listItem.addEventListener("click", function (e) {
                e.stopPropagation(); // останавливаю всплытие события
                targetElement.scrollIntoView({
                    behavior: "smooth"
                });
            });
        }
    });


    //active element on click li
    document.querySelectorAll("ol li > div").forEach(div => {
        div.addEventListener("click", function (e) {
            document.querySelectorAll(".active-li").forEach(active => {
                active.classList.remove("active-li");
            });
            this.classList.add("active-li");
        });
    });

    //disable some gallery options

    $("[data-fancybox]").fancybox({
        thumbs: false,
        hash: false,
        loop: true,
        keyboard: true,
        toolbar: true,
        animationEffect: false,
        arrows: true,
        clickContent: false
    });

</script>