@model GeoItemsViewModel
@{
    var item = Model.NtpProject.First();
}

<div class="window-header">
    <div class="window-header_wrapper">
        <img src="../../icons/ntp-big.svg" />
        <div class="title-wh" title="@item.ParentImplemOrg" data-bs-toggle="tooltip" data-bs-placement="right">
            @item.ParentImplemOrg
        </div>
    </div>
</div>

<!-- close-window -->
<div class="close-window" title="Закрыть">
    <img src="../../icons/close-window.svg" />
</div>

<div class="window-body" id="table_scroll">
    @*<div class="window-side-button"></div>*@
    <!-- burger-btn -->
    <!-- window-images -->
    <div class="window-images">
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>

    </div>
    <!-- data table -->
    <div>
        <table class="window-object-data">
            <tbody>
                <tr id="scroll_block_1">
                    <td class="object-field-name header first_level" colspan="2">
                        <div class="link-down d-flex justify-content-between">
                            <h2 id="windh0">Общая информация</h2>
                            <a class="mt-2 img-down"><img src="../../icons/download.svg" /></a>
                        </div>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Наименование выполняемого задания
                                        </td>
                                        <td class="object-field-value">
                                            @item.NameTask
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Государственный заказчик (ответственный заказчик)
                                        </td>
                                        <td class="object-field-value">
                                            @item.StateCustomer
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name">Головная организация-исполнитель</td>
                                        <td class="object-field-value">@item.ParentImplemOrg</td>
                                    </tr>

                                    <tr>
                                        <td class="object-field-name  ">Организации-исполнители НИОК(Т)Р</td>
                                        <td class="object-field-value"> @item.ImplemOrg</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Региональная принадлежность</td>
                                        <td class="object-field-value"> @item.AdressImplemOrg</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Информация о стадии выполнения задания программы</td>
                                        <td class="object-field-value"> @item.StateTask</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Уровень технического уклада разработки по заданию</td>
                                        <td class="object-field-value"> @item.TheLevelStructure</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Наименование вновь освоенной продукции (инновации)</td>
                                        <td class="object-field-value"> @item.NameNewDevProducts</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Информация о наличии экспорта по заданию (имеется или не имеется)</td>
                                        <td class="object-field-value"> @item.InformationExports</td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">Информация о создании новых производств, модернизации действующих производств</td>
                                        <td class="object-field-value"> @item.InformationNewProduct</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        @* <div style="height: 122px;">&nbsp;</div>*@
    </div>
    <!-- end data table -->
</div>
@*<div class="window-side-button"></div>
*@
<!-- window-child -->
<div class="window-child">
    <div class="window-child-container">
        <div class="overview" style="top: 0px; left: 0px; bottom: 10px; display: block;">
            <ol>
                <li data-link="windh0">
                    <div id="scroll_link_1" class="active-li">Общая информация</div>
                </li>
                <li data-link="windh1">
                    <div>?????</div>
                </li>
            </ol>
        </div>

    </div>
    @*<div class="window-side-button_left"></div>*@

</div>
<!--end window-child -->

<script>

    //scrolling
    function full_visible(scroll_table, targets) {

        var final = false;

        for (let i = 0; i < targets.length; i++) {
            targets[i][1].css("color", "black");
            var y = $(scroll_table).height(); // Высота блока со скроллингом (только его видимая часть)
            var z = targets[i][0].height(); // Высота элемента
            var a = targets[i][0].offset().top; // Расстояние от элемента до верха документа
            var b = $(scroll_table).offset().top; // Расстояние от блока со скроллингом до верха документа
            var c = a - b; // Расстояние от элемента до верхней границы

            if (c + z <= y && c > 0 && targets[i][2] === "bottom") {
                final = targets[i][1];
            }
            if (c - 25 <= 0 && targets[i][2] === "top") {
                final = targets[i][1];
            }
            if (c - (y / 2) <= 0 && targets[i][2] === "middle") {
                final = targets[i][1];
            }
        }
        return final;
    }

    $(document).ready(function () {
        var scroll_links =
            [
                [$("#scroll_block_1"), $("#scroll_link_1"), "top"],

            ];


        $("#table_scroll").scroll(function () {
            var link = full_visible(this, scroll_links);
            if (link) {
                link.css("color", "#00a7e5");
            }
        });
    });
    var listItems = document.querySelectorAll("ol li[data-link], ol li ol li[data-link]");
    listItems.forEach(function (listItem) {
        var linkValue = listItem.getAttribute("data-link");
        var targetElement = document.getElementById(linkValue);
        if (targetElement) {
            listItem.addEventListener("click", function (e) {
                e.stopPropagation(); // останавливаю всплытие события
                targetElement.scrollIntoView({
                    behavior: "smooth"
                });
            });
        }
    });


    //active element on click li
    document.querySelectorAll("ol li > div").forEach(div => {
        div.addEventListener("click", function (e) {
            document.querySelectorAll(".active-li").forEach(active => {
                active.classList.remove("active-li");
            });
            this.classList.add("active-li");
        });
    });


    //disable some gallery options

    $("[data-fancybox]").fancybox({
        thumbs: false,
        hash: false,
        loop: true,
        keyboard: true,
        toolbar: true,
        animationEffect: false,
        arrows: true,
        clickContent: false
    });
</script>