@model GeoItemsViewModel
@{
    var item = Model.InnProject.First();
}
<div class="window-header">
    <div class="window-header_wrapper">
        <img src="../../icons/inn-big.svg" />
        <div class="title-wh" title="@item.NameOrgImplementingProject" data-bs-toggle="tooltip" data-bs-placement="right">
            @item.NameOrgImplementingProject
        </div>
    </div>
</div>

<!-- close-window -->
<div class="close-window" title="Закрыть">×</div>

<div class="window-body" id="table_scroll">
    <div class="window-side-button"></div>
    <!-- burger-btn -->
    <!-- window-images -->
    <div class="window-images">
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>
        <a class="col-img" href="../../images/technopark.jpg" data-fancybox="gallery"><img src="../../images/technopark.jpg" /></a>

    </div>
    <!-- data table -->
    <div>
        <table class="window-object-data">
            <tbody>
                <tr id="scroll_block_1">
                    <td class="object-field-name header first_level" colspan="2">
                        <h2 id="windh0">Общая информация</h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Наименование проекта
                                        </td>
                                        <td class="object-field-value">
                                            @item.NameInnProject
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Наименование организации, реализующий проект (мероприятие)
                                        </td>
                                        <td class="object-field-value">
                                            @item.NameOrgImplementingProject
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="object-field-name">Место реализации проекта</td>
                                        <td class="object-field-value"> @item.LocationProjectImplementation</td>
                                    </tr>

                                    <tr>
                                        <td class="object-field-name  ">Статус проекта</td>
                                        <td class="object-field-value">  @item.ProjectStatus</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr id="scroll_block_2">
                    <td class="object-field-name header first_level" colspan="2">
                        <h2 id="windh1">Финансирование</h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr>
                                        <td class="object-field-name  ">
                                            Объем финансирования проекта (в тыс.
                                            бел.рублей)
                                        </td>
                                        <td class="object-field-value"> @item.VolumeFinancing</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="object-field-name header first_level" colspan="2">
                        <h2 class="scroll_block_3" id="windh2">Подробная информация о проекте</h2>
                        <div style="display:block; padding-bottom:10px; padding-left:15px; cursor:default;">
                            <table class="window-object-data">
                                <tbody>
                                    <tr id="scroll_block_4">
                                        <td id="windh3" class="object-field-name  ">
                                            Заказчик
                                        </td>
                                        <td class="object-field-value"> @item.Customer</td>
                                    </tr>
                                    <tr id="scroll_block_5">
                                        <td id="windh4" class="object-field-name  ">
                                            Сроки реализации
                                        </td>
                                        <td class="object-field-value">@item.TermsImplementation</td>
                                    </tr>
                                    <tr id="scroll_block_6">
                                        <td id="windh5" class="object-field-name  ">
                                            ГПИР (2016-2020 гг.; 2021-2025 гг.)
                                        </td>
                                        <td class="object-field-value">@item.GPIR</td>
                                    </tr>
                                    <tr id="scroll_block_7">
                                        <td id="windh6" class="object-field-name  ">
                                            Документ, которым проект включен в ГПИР
                                        </td>
                                        <td class="object-field-value">@item.DocumentByWhichGPIR</td>
                                    </tr>
                                    <tr id="scroll_block_8">
                                        <td id="windh7" class="object-field-name  ">
                                            Инновационность проекта
                                        </td>
                                        <td class="object-field-value">@item.InnovatProject</td>
                                    </tr>
                                    <tr id="scroll_block_9">
                                        <td id="windh8" class="object-field-name  ">
                                            Продукция, планируемая к выпуску
                                        </td>
                                        <td class="object-field-value">@item.ProductsRelease</td>
                                    </tr>
                                    <tr id="scroll_block_10">
                                        <td id="windh9" class="object-field-name  ">
                                            Вид экономической деятельности
                                        </td>
                                        <td class="object-field-value">@item.TypeEconomicActivity</td>
                                    </tr>
                                    <tr id="scroll_block_11">
                                        <td id="windh10" class="object-field-name  ">
                                            Критерий №1 Указа № 357:
                                            Организация технологического процесса, обеспечивающего средний
                                            уровень добавленной стоимости на одного работающего,
                                            аналогичный среднему уровню добавленной стоимости на одного
                                            работающего по соответствующему виду экономической деятельности
                                            в ЕС, либо превышающий этот уровень, EUR
                                        </td>
                                        <td class="object-field-value">@item.Criterion1</td>
                                    </tr>
                                    <tr id="scroll_block_12">
                                        <td id="windh11" class="object-field-name  ">
                                            Критерий №2 Указа № 357:
                                            Экспортная ориентированность инновационного проекта
                                            (превышение экспорта над импортом), тыс. евро (в год,
                                            следующий за годом выхода на проектную мощность)
                                        </td>
                                        <td class="object-field-value">@item.Criterion2</td>
                                    </tr>
                                    <tr id="scroll_block_13">
                                        <td id="windh12" class="object-field-name  ">
                                            Критерий №3 Указа № 357:
                                            Создание и внедрение новых технологий и (или) производство
                                            новой для Республики Беларусь и (или) мировой экономики
                                            продукции (мировая новизна; новизна для Республики Беларусь)
                                        </td>
                                        <td class="object-field-value">@item.Criterion3</td>
                                    </tr>
                                    <tr id="scroll_block_14">
                                        <td id="windh13" class="object-field-name  ">
                                            Использование технологий V или VI технолоических укладов
                                            (1- VI уклад; 2- V уклад; 3- проект другого технического
                                            уклада)
                                        </td>
                                        <td class="object-field-value">@item.UseTechnologies</td>
                                    </tr>
                                    <tr id="scroll_block_15">
                                        <td id="windh14" class="object-field-name  ">
                                            Годовой объем производства продукции по проекту
                                            (год, следующий за годом выхода на проектную мощность), тыс. руб.
                                        </td>
                                        <td class="object-field-value">@item.AnnualProductionVolumeBY</td>
                                    </tr>
                                    <tr id="scroll_block_16">
                                        <td id="windh15" class="object-field-name  ">
                                            Годовой объем экспорта по проекту
                                            (год, следующий за годом выхода на проектуную мощность), тыс. рублей/ тыс. евро
                                        </td>
                                        <td class="object-field-value">@item.AnnualExportVolumeBY/@item.AnnualExportVolumeEUR</td>
                                    </tr>
                                    <tr id="scroll_block_17">
                                        <td id="windh16" class="object-field-name  ">
                                            Импортозамещающая направленность проекта
                                            (проект направлен на импортозамещение;
                                            проект не направлен на импортозамещение)
                                        </td>
                                        <td class="object-field-value">@item.ImportSubstituting</td>
                                    </tr>
                                    <tr id="scroll_block_18">
                                        <td id="windh17" class="object-field-name  ">
                                            Добавленная стоимость на одного работника по проекту, тыс. рублей
                                            (в год, следующий за годом выхода на проектную мощность)
                                        </td>
                                        <td class="object-field-value">@item.ValueAddedPerEmployee</td>
                                    </tr>
                                    <tr id="scroll_block_19">
                                        <td id="windh18" class="object-field-name  ">
                                            Добавленная стоимость по проекту в год, следующий за годом
                                            выхода проекта на проектную мощность, тыс. рублей
                                        </td>
                                        <td class="object-field-value">@item.AddedValueProject</td>
                                    </tr>
                                    <tr id="scroll_block_20">
                                        <td id="windh19" class="object-field-name  ">
                                            Количество модернизированных рабочих мест, едениц
                                        </td>
                                        <td class="object-field-value">@item.NumberUpgradedJobs</td>
                                    </tr>
                                    <tr id="scroll_block_21">
                                        <td id="windh20" class="object-field-name  ">
                                            Количество новых рабочих мест, едениц
                                        </td>
                                        <td class="object-field-value">@item.NumberNewJobs</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
        @*<div style="height: 122px;">&nbsp;</div>*@
    </div>
    <!-- end data table -->
</div>
<div class="window-side-button"></div>

<!-- window-child -->
<div class="window-child">
    <div class="window-child-container">
        <div class="overview" style="top: 0px; left: 0px; bottom: 10px; display: block;">
            <ol>
                <li data-link="windh0">
                    <div id="scroll_link_1" class="active-li">Общая информация</div>
                </li>
                <li data-link="windh1">
                    <div id="scroll_link_2">Финансирование</div>
                </li>
                <li data-link="windh2">
                    <div id="scroll_link_3">Подробная информация о проекте</div>
                </li>
                <ol class="mt-1">
                    <li data-link="windh3">
                        <div id="scroll_link_4">
                            Заказчик
                        </div>
                    </li>
                    <li data-link="windh4">
                        <div id="scroll_link_5">
                            Сроки реализации
                        </div>
                    </li>
                    <li data-link="windh5">
                        <div id="scroll_link_6">
                            ГПИР (2016-2020 гг.; 2021-2025 гг.)
                        </div>
                    </li>
                    <li data-link="windh6">
                        <div id="scroll_link_7">
                            Документ, которым проект включен в ГПИР
                        </div>
                    </li>
                    <li data-link="windh7">
                        <div id="scroll_link_8">
                            Инновационность проекта
                        </div>
                    </li>
                    <li data-link="windh8">
                        <div id="scroll_link_9">
                            Продукция, планируемая к выпуску
                        </div>
                    </li>
                    <li data-link="windh9">
                        <div id="scroll_link_10">
                            Вид экономической деятельности
                        </div>
                    </li>
                      <li data-link="windh10">
                        <div id="scroll_link_11">
                            Критерий №1 Указа № 357:
                            Организация технологического процесса, обеспечивающего средний
                            уровень добавленной стоимости на одного работающего,
                            аналогичный среднему уровню добавленной стоимости на одного
                            работающего по соответствующему виду экономической деятельности
                            в ЕС, либо превышающий этот уровень, EUR
                        </div>
                    </li>
                      <li data-link="windh11">
                        <div id="scroll_link_12">
                            Критерий №2 Указа № 357:
                            Экспортная ориентированность инновационного проекта
                            (превышение экспорта над импортом), тыс. евро (в год,
                            следующий за годом выхода на проектную мощность)
                        </div>
                    </li>
                      <li data-link="windh12">
                        <div id="scroll_link_13">
                            Критерий №3 Указа № 357:
                            Создание и внедрение новых технологий и (или) производство
                            новой для Республики Беларусь и (или) мировой экономики
                            продукции (мировая новизна; новизна для Республики Беларусь)
                        </div>
                    </li>

                      <li data-link="windh13">
                        <div id="scroll_link_14">
                            Использование технологий V или VI технолоических укладов
                            (1- VI уклад; 2- V уклад; 3- проект другого технического
                            уклада)
                        </div>
                    </li>
                    <li data-link="windh14">
                        <div id="scroll_link_15">
                            Годовой объем производства продукции по проекту
                            (год, следующий за годом выхода на проектную мощность), тыс. руб.
                        </div>
                    </li>
                      <li data-link="windh15">
                        <div id="scroll_link_16">
                            Годовой объем экспорта по проекту
                            (год, следующий за годом выхода на проектуную мощность), тыс. рублей/ тыс. евро
                        </div>
                    </li>
                      <li data-link="windh16">
                        <div id="scroll_link_17">
                            Импортозамещающая направленность проекта
                            (проект направлен на импортозамещение;
                            проект не направлен на импортозамещение)
                        </div>
                    </li>
                      <li data-link="windh17">
                        <div id="scroll_link_18">
                            Добавленная стоимость на одного работника по проекту, тыс. рублей
                            (в год, следующий за годом выхода на проектную мощность)
                        </div>
                    </li>
                      <li data-link="windh18">
                        <div id="scroll_link_19">
                            Добавленная стоимость по проекту в год, следующий за годом
                            выхода проекта на проектную мощность, тыс. рублей
                        </div>
                    </li>
                      <li data-link="windh19">
                        <div id="scroll_link_20">
                            Количество модернизированных рабочих мест, едениц
                        </div>
                    </li>
                    <li data-link="windh20">
                        <div id="scroll_link_21">
                            Количество новых рабочих мест, едениц
                        </div>
                    </li>
                </ol>
            </ol>
        </div>

    </div>
    <div class="window-side-button_left"></div>
</div>
<!--end window-child -->

<script>

    //scrolling
    function full_visible(scroll_table, targets) {

        var final = false;

        for (let i = 0; i < targets.length; i++) {
            targets[i][1].css("color", "black");
            var y = $(scroll_table).height(); // Высота блока со скроллингом (только его видимая часть)
            var z = targets[i][0].height(); // Высота элемента
            var a = targets[i][0].offset().top; // Расстояние от элемента до верха документа
            var b = $(scroll_table).offset().top; // Расстояние от блока со скроллингом до верха документа
            var c = a - b; // Расстояние от элемента до верхней границы

            if (c + z <= y && c - 50<= 0) {
                final = targets[i][1];
            }
        }
        return final;
    }

    $(document).ready(function () {
        var scroll_links =
            [
                [$("#scroll_block_1"), $("#scroll_link_1")],
                [$("#scroll_block_2"), $("#scroll_link_2")],
                [$(".scroll_block_3"), $("#scroll_link_3")],
                [$("#scroll_block_4"), $("#scroll_link_4")],
                [$("#scroll_block_5"), $("#scroll_link_5")],
                [$("#scroll_block_6"), $("#scroll_link_6")],
                [$("#scroll_block_7"), $("#scroll_link_7")],
                [$("#scroll_block_8"), $("#scroll_link_8")],
                [$("#scroll_block_9"), $("#scroll_link_9")],
                [$("#scroll_block_10"), $("#scroll_link_10")],
                [$("#scroll_block_11"), $("#scroll_link_11")],
                [$("#scroll_block_12"), $("#scroll_link_12")],
                [$("#scroll_block_13"), $("#scroll_link_13")],
                [$("#scroll_block_14"), $("#scroll_link_14")],
                [$("#scroll_block_15"), $("#scroll_link_15")],
                [$("#scroll_block_16"), $("#scroll_link_16")],
                [$("#scroll_block_17"), $("#scroll_link_17")],
                [$("#scroll_block_18"), $("#scroll_link_18")],
                [$("#scroll_block_19"), $("#scroll_link_19")],
                [$("#scroll_block_20"), $("#scroll_link_20")],
                [$("#scroll_block_21"), $("#scroll_link_21")],

            ];


        $("#table_scroll").scroll(function () {
            var link = full_visible(this, scroll_links);
            if (link) {
                link.css("color", "#00a7e5");
            }
        });
    });

    var listItems = document.querySelectorAll("ol li[data-link], ol li ol li[data-link]");
    listItems.forEach(function (listItem) {
        var linkValue = listItem.getAttribute("data-link");
        var targetElement = document.getElementById(linkValue);
        if (targetElement) {
            listItem.addEventListener("click", function (e) {
                e.stopPropagation(); // останавливаю всплытие события
                targetElement.scrollIntoView({
                    behavior: "smooth"
                });
            });
        }
    });


    //active element on click li
    document.querySelectorAll("ol li > div").forEach(div => {
        div.addEventListener("click", function (e) {
            document.querySelectorAll(".active-li").forEach(active => {
                active.classList.remove("active-li");
            });
            this.classList.add("active-li");
        });
    });
</script>