<style>
    #YMapsID {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
</style>
<script type="text/javascript">
    // НАЧАЛО СОЗДАНИЯ КАРТЫ
    ymaps.ready(function () {
        var myMap = new ymaps.Map(
            "YMapsID",
            {
                center: [53.90, 27.56],
                zoom: 1,
                controls: []
            },
            {
                maxZoom: 17,
                restrictMapArea: [
                    [58.486077093111334, 15.89679288089655],
                    [49.77185323695446, 39.58331354601873]
                ]
            });

        // Загрузим регионы.
        ymaps.borders.load('001', {
            lang: 'ru',
            quality: 2
        }).then(function (result) {

            // Создадим многоугольник, который будет скрывать весь мир, кроме заданной страны.
            var background = new ymaps.Polygon([
                [
                    [85, -179.99],
                    [85, 179.99],
                    [-85, 179.99],
                    [-85, -179.99],
                    [85, -179.99]
                ]
            ], {}, {
                fillColor: '#B0B0B0',
                fillOpacity: 0.5,
                strokeWidth: 1.5,
                coordRendering: 'straightPath'
            });
            // Найдём страну по её iso коду.
            var region = result.features.filter(function (feature) { return feature.properties.iso3166 == 'BY'; })[0];
            var masks = region.geometry.coordinates;
            masks.forEach(function (mask) {
                background.geometry.insert(1, mask);
            });
            // Добавим многоугольник на карту.
            myMap.geoObjects.add(background);
        })

        // создание кластера
      var clusterer = new ymaps.Clusterer({
            // Макет метки кластера pieChart.
            clusterIconLayout: 'default#pieChart',
            // Радиус диаграммы в пикселях.
            clusterIconPieChartRadius: 25,
            // Радиус центральной части макета.
            clusterIconPieChartCoreRadius: 10,
            // Ширина линий-разделителей секторов и внешней обводки диаграммы.
            clusterIconPieChartStrokeWidth: 3,
            // Определяет наличие поля balloon.
            hasBalloon: true
        });     

        // получение координат для меток из бд
        $.ajax({
            url: 'https://localhost:7215/Home/GetCoordinates',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            success: function (result) {
                  //console.log(result)
                result.geoItems.forEach(element => {
                    // Технопарки
                    if (element.geoType == 0) {
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#33FF00"
                        });
                    }
                    //Центр трансфера технологий
                    if (element.geoType == 1) {
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#5863FF"
                        });
                    }
                    // ИНН проекты
                    if (element.geoType == 2) {
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#FF0000"
                        });
                    }
                    //НТП
                    if (element.geoType == 3) {
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#FFA158"
                        });
                    }
                    //Можно менять опции кластеризатора после создания.
                    clusterer.options.set({
                        gridSize: 100,
                        clusterDisableClickZoom: false
                    });

                    clusterer.add(myGeoObject);
                    myMap.geoObjects.add(clusterer);

                    myMap.setBounds(clusterer.getBounds(), {
                        checkZoomRange: true
                    });

                    myGeoObject.events.add('click', function () {

                        // Технопарки
                        if (element.geoType == 0) {
                            var url = "@Url.Action("GetPartialTechParck", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }

                        //Центр трансфера технологий
                        if (element.geoType == 1) {
                            var url = "@Url.Action("GetPartialCTT", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }

                        // ИНН проекты
                        if (element.geoType == 2) {
                            var url = "@Url.Action("GetPartialInnProject", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }
                        //НТП
                        if (element.geoType == 3) {
                            var url = "@Url.Action("GetPartialNtpProject", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }

                    });

                    function AjaxAxtion(url, id, wrapperid) {

                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: url,
                            data: { id: id },
                            dataType: "html",
                            success: function (data) {
                                $(wrapperid).empty();
                                $(wrapperid).append(data);
                                top_popup();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Ошибка загрузки таблицы!');
                            }
                        });

                    }
                    // фильтрация меток
                    $(document).ready(function () {
                        const $srtBTN_tech = $("#filtr");
                        $srtBTN_tech.click(function () {
                            clusterer.add(myGeoObject);
                            myMap.geoObjects.add(clusterer);
                            if ($('#techparck').is(':checked')) {


                                if (element.geoType != 0) {
                                    clusterer.remove(myGeoObject);
                                }

                            }
                            if ($('#ctt').is(':checked')) {


                                if (element.geoType != 1) {
                                    clusterer.remove(myGeoObject);
                                }
                            }
                            if ($('#techparck').is(':checked') && $('#ctt').is(':checked')) {
                                clusterer.add(myGeoObject);
                                myMap.geoObjects.add(clusterer);
                                if (element.geoType != 0 && element.geoType != 1) {
                                    clusterer.remove(myGeoObject);
                                }
                            }

                            if (!$('#techparck').is(':checked') && !$('#ctt').is(':checked')) {
                                clusterer.add(myGeoObject);
                                myMap.geoObjects.add(clusterer);
                            }

                        });
                    });
                });
               
            }
        });

    });
    // КОНЕЦ СОЗДАНИИ КАРТЫ

    // При нажатии на вкладку "Субъекты инновационной инфраструктуры"
    $(document).ready(function () {
        const $showDataItem_techpar_ctt = $("#Item_techparck_ctt");
        $showDataItem_techpar_ctt.click(function () {
            let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
            $("#info_object_Inn").empty();
            $("#info_object_ntp").empty();
            if (hasClass) {
                $.ajax({
                    url: 'https://localhost:7215/Home/PostData',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (result) {
                        //  console.log(result)
                        // Технопарки
                        result.technopark.forEach(itemTechnopark => { $("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark)); })
                        // ЦТТ
                        result.techTransferCenter.forEach(itemTechTransferCenter => { $("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter)); })
                    }
                });
                // Технопарк
                function getInfoTechnopark(itemTechnopark) {

                    return `
                                <a href="#" class="info_item  item-header-js" data-type="tehParckHeader"data-id="${itemTechnopark.id}">
                                            <div class="info_item-icon parks-actual-big"></div>


                                        <div class="info_item-data">
                                                        <h3>${itemTechnopark.nameTechnopark}</h3>
                                                <span class="info_item-region">Республика</span>
                                                        <span class="info_item-area">${itemTechnopark.totalAreaPremises} Га</span>
                                                <div class="buttons-box">
                                                    <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                    <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                    <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                    <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                    <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                    <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                </div>
                                                <!-- buttons-box -->
                                        </div>

                                        </a>
                        `;
                }
                // ЦТТ
                function getInfoTechTransferCenter(itemTechTransferCenter) {
                    return `
                                        <a href="#" class="info_item  item-header-js" data-type="cctHeader" data-id="${itemTechTransferCenter.id}">
                                                <div class="info_item-icon parks-actual-big"></div>


                                            <div class="info_item-data" >

                                                     <h3>${itemTechTransferCenter.nameTechTransferCenter}</h3>
                                                    <span class="info_item-region">Республика</span>
                                                            <span class="info_item-area"> Га</span>
                                                    <div class="buttons-box">
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                    </div>
                                                    <!-- buttons-box -->
                                            </div>

                                            </a>
                            `;
                }

            }
            else {
                $('.sidebarmap-accordion_item').removeClass('active_block');
                $("#info_object_tehnoparck_ctt").empty();
            }


        });
    });
    // При нажатии на вкладку "Инновационные проекты"
    $(document).ready(function () {
        const $showDataItem_inn = $("#Item_inn");
        $showDataItem_inn.click(function () {
            let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
            $("#info_object_ntp").empty();
            $("#info_object_tehnoparck_ctt").empty();
            if (hasClass) {
                $.ajax({
                    url: 'https://localhost:7215/Home/PostData',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (result) {
                        //  console.log(result)
                        // ИНН
                        result.innProject.forEach(itemInnProject => { $("#info_object_Inn").append(getInfoInn(itemInnProject)); })
                    }
                });
                //ИНН
                function getInfoInn(itemInnProject) {
                    return `
                                    <a href="#" class="info_item  item-header-js" data-type="InnHeader"data-id="${itemInnProject.id}">
                                    <div class="info_item-icon parks-actual-big"></div>
                                           <div class="info_item-data">
                                            <h3>${itemInnProject.nameInnProject}</h3>
                                                    <span class="info_item-region">Республика</span>
                                                            <span class="info_item-area"> Га</span>
                                                    <div class="buttons-box">
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                    </div>
                                                    <!-- buttons-box -->
                                            </div>
                                            </a>
                            `;
                }
            }
            else {
                $('.sidebarmap-accordion_item').removeClass('active_block');
                $("#info_object_Inn").empty();
            }
        });
    });
    // При нажатии на вкладку "Научно-технологические  программы"
    $(document).ready(function () {
        const $showDataItem_ntp = $("#Item_ntp");
        $showDataItem_ntp.click(function () {
            let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
            $("#info_object_Inn").empty();
            $("#info_object_tehnoparck_ctt").empty();
            // если меню открыто, то выполнить ajax запрос и подставить данные
            if (hasClass) {
                $.ajax({
                    url: 'https://localhost:7215/Home/PostData',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (result) {
                        //  console.log(result)
                        // НТП
                        result.ntpProject.forEach(itemNtpProject => { $("#info_object_ntp").append(getInfoNtp(itemNtpProject)); })
                    }
                });
                // НТП
                function getInfoNtp(itemNtpProject) {
                    return `
                                        <a href="#" class="info_item  item-header-js" data-type="NtpHeader" data-id="${itemNtpProject.id}">
                                        <div class="info_item-icon parks-actual-big"></div>
                                               <div class="info_item-data">
                                                            <h3>${itemNtpProject.nameTask}</h3>
                                                        <span class="info_item-region">Республика</span>
                                                                <span class="info_item-area"> Га</span>
                                                        <div class="buttons-box">
                                                            <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                            <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                            <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                            <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                            <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                            <span class="yes-nat-standard" title="Сертифицирован"></span>
                                                        </div>
                                                        <!-- buttons-box -->
                                                </div>
                                                </a>
                                `;
                }
            }
            // При закртии меню происходит очистка div, чтобы избежать дублирования информации
            else {

                $('.sidebarmap-accordion_item').removeClass('active_block');
                $("#info_object_ntp").empty();
            }
        });
    });
    // всплывающего окна
    function top_popup() { 
            $(document).ready(function () {
                // const $btnToggle = $(".info_item-data");
                const $closeWindow = $(".close-window");
                const $windowbar = $(".window");
                const $windowChild = $(".window-child");

                $windowbar.toggleClass("active");
                $windowChild.toggleClass("active");

            let hasClass = $('.window').hasClass('active');

            if (!hasClass)
            {
                $("#window-container").empty();
            }

                $closeWindow.click(function () {
                    $windowbar.removeClass("active");
                    $windowChild.removeClass("active");
                $("#window-container").empty();
                });

                const $btnToggleChild = $(".info_item-data");
                const $closeBtn = $(".window-side-button");
                $btnToggleChild.click(function () {
                    $windowChild.addClass("active");
                });
                $closeBtn.click(function () {
                    $windowChild.removeClass("active");
                });
            });
    }
    // получение данных по id
    $(document).ready(function () {
        $('.sidebarmap').on('click', '.item-header-js', function () {
            var url = "";
            var wrapperid = "";
            var id = $(this).attr("data-id");

            switch ($(this).attr("data-type")) {
                case 'cctHeader':
                   url = "@Url.Action("GetPartialCTT", "Home")";
                   wrapperid = "#window-container";
                break;
                case 'tehParckHeader':
                    url = "@Url.Action("GetPartialTechParck", "Home")";
                    wrapperid = "#window-container";
                break;
                case 'InnHeader':
                    url = "@Url.Action("GetPartialInnProject", "Home")";
                    wrapperid = "#window-container";
                break;
                case 'NtpHeader':
                    url = "@Url.Action("GetPartialNtpProject", "Home")";
                    wrapperid = "#window-container";
                      
                break;
            }
            if (url != "") {
                AjaxAxtion(url, id, wrapperid);
            }
        });
        function AjaxAxtion(url, id, wrapperid) {

            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                data: { id: id },
                dataType: "html",
                success: function (data)
                {
                    $(wrapperid).empty();
                    $(wrapperid).append(data);
                    top_popup();
                },
                error: function (xhr, ajaxOptions, thrownError)
                {
                    alert('Ошибка загрузки данных!');
                }
            });

            }
         });
    </script>


<div id="YMapsID"></div>

 <!-- modal-window  ПОДПИСАТЬСЯ НА ОБЪЯВЛЕНИЯ (МНЕ ЭТО НЕ НУЖНО ТРОГАТЬ)-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input type="email" class="modal-body__email-input" placeholder="email" value="">
                    <div class="modal-body__email-message info">
                        <div class="text">На этот email придет письмо для подтверждения подписки</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="modal-footer__email-submit" value="Отправить">
                </div>
            </div>
        </div>
    </div>
<!-- end modal-window ПОДПИСАТЬСЯ НА ОБЪЯВЛЕНИЯ -->


    <!-- itsystem -->
    <div class="sidebarmap">
        <div class="sidebarmap-container">
            <!-- accordion -->
            <div class="sidebarmap-accordion">

            <!-- Субъекты инновационной инфраструктуры -->
            <section class="sidebarmap-accordion_item">
                    <h3 class="title_block " id="Item_techparck_ctt">
                        Субъекты инновационной <br> инфраструктуры
                    </h3>
                    <div class="info">
                        <div class="info_panel" id="filtr">
                            <div class="info_panel-switchers d-flex justify-content-center">
                            <div class="switcher" id="sortBtn_techparck" style="border-bottom: 3px solid #3fab3c;">Технопарки</div>
                            <div class="switcher" id="sortBtn_ctt" style="border-bottom: 3px solid #ff9601;">ЦТТ</div>
                            <div class="switcher" style="border-bottom: 3px solid #9494b6">БИФ и НЦИС</div>
                            </div>
                            <div class="info_panel-switchers d-flex justify-content-center">
                            <div class="switcher" id="Btn_techparck"><input type="checkbox" id="techparck">Технопарки</input></div>
                            <div class="switcher" id="Btn_techparck">  <input type="checkbox" id="ctt">ЦТТ</input></div>
                        </div>
                        </div>

                        <!-- СЮДА ПОДСТАВЛЯТЬ ИНФУ ИЗ БД -->
                        <div class="info_object"  id="info_object_tehnoparck_ctt">
                            
                        </div>
                         <!-- КОЕЦ -->
                    </div>
                </section>
                <!--КОНЕЦ Субъекты инновационной инфраструктуры -->

                <!-- Инновационные проекты -->
            <section class="sidebarmap-accordion_item">
                    <h3 class="title_block" id="Item_inn">Инновационные проекты</h3>
                    <div class="info">
                        <div class="info_panel">
                            <div class="info_panel-switchers d-flex justify-content-center">
                                <div class="switcher" style="border-bottom: 3px solid #3fab3c;">Завершен</div>
                                <div class="switcher" style="border-bottom: 3px solid #ff9601;">Продолжается</div>
                                <div class="switcher" style="border-bottom: 3px solid #9494b6">Продолжается</div>
                            </div>
                        </div>
                        <!-- info_panel -->
                    <div class="info_object" id="info_object_Inn">
                        
                    </div>
                    </div>
                    <!-- info -->
                </section>
                <!--КОНЕЦ Инновационные проекты -->
             
                <!--Научно-технологические программы -->
                <section class="sidebarmap-accordion_item" >
                <h3 class="title_block" id="Item_ntp">Научно-технологические <br> программы</h3>
                    <div class="info">
                        <div class="info_panel">
                            <div class="info_panel-switchers d-flex justify-content-center">
                                <div class="switcher" style="border-bottom: 3px solid #3fab3c;">Программа 1</div>
                                <div class="switcher" style="border-bottom: 3px solid #ff9601;">Программа 2</div>
                                <div class="switcher" style="border-bottom: 3px solid #9494b6">Программа 3</div>
                            </div>
                        </div>
                        <!-- info_panel -->
                         <!-- СЮДА ПОДСТАВЛЯТЬ ИНФУ ИЗ БД -->
                    <div class="info_object" id="info_object_ntp">

                    </div>
                    <!-- КОЕЦ -->
                    </div>
                    <!-- info -->
                </section>
            <!--КОНЕЦ Научно-технологические программы -->
            </div>
            <!-- end accordion -->
        </div>

    </div>
    <!-- end sidebarmap -->




    <!-- window -->
<div class="window">
    <div class="window-container" id="window-container">

     
       
          
            <!-- end footer window -->
     </div>
        <!-- window-container -->
 </div>
    <!-- end window -->
    <!-- window-child -->
    <div class="window-child">
        <div class="window-child-container">
            <div class="overview" style="top: 0px; left: 0px; bottom: 10px; display: block;">
                <ol>
                    <li data-link="windh0">
                        <div class="active-li">Общая информация</div>
                    </li>
                    <li data-link="windh1">
                        <div>Финансирование</div>
                    </li>
                    <li data-link="windh2">
                        <div>Показатели деятельности </div>
                    </li>
                    <ol class="mt-1">
                        <li data-link="windh3">
                            <div>
                                Количество поступивших в центр и принятых к работе технологических предложений в 2022 году (ед.)
                            </div>
                        </li>
                        <li data-link="windh4">
                            <div>
                                Количество поступивших в центр и принятых к работе технологических запросов в 2022 году (ед.)
                            </div>
                        </li>
                        <li data-link="windh5">
                            <div>
                                Количество заключенных при содействии центра сделок по передаче (приобретению) прав на
                                результаты научно-технической и (или) инновационной деятельности за 2022 год (ед.)
                            </div>
                        </li>
                        <li data-link="windh6">
                            <div>
                                Объем заключенных при содействии центра сделок по передаче (приобретению) прав на результаты
                                научно-технической и (или) инновационной деятельности за 2022 год (тыс. рублей)
                            </div>
                        </li>
                        <li data-link="windh7">
                            <div>
                                Количество сформированных при содействии центра научно-технических, инновационных
                                (инвестиционных) и иных проектов (работ) за 2022 год (ед.)
                            </div>
                        </li>
                        <li data-link="windh8">
                            <div>
                                Объем сформированных при содействии центра научно-технических, инновационных (инвестиционных)
                                и
                                иных проектов (работ) за 2022 год (тыс. рублей)
                            </div>
                        </li>
                        <li data-link="windh9">
                            <div>
                                Объем выполненных центром работ (услуг), связанных с коммерциализацией результатов
                                научно-технической и (или) инновационной деятельности за 2022 год (тыс. рублей)
                            </div>
                        </li>
                    </ol>
                </ol>
            </div>

        </div>
        <div class="window-side-button_left"></div>

    </div>
    <!--end window-child -->



   <script>
    // modal window for the gallery
    function openModal() {
        document.getElementById("modal-gallery").style.display = "block";
        showSlides(slideIndex); // Показать первый слайд при открытии модального окна
    }

    function closeModal() {
        document.getElementById("modal-gallery").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides-gallery");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
   </script>