<style>
    #YMapsID {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .ymaps-2-1-79-map {
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 17px;
        color: #034580;
    }

</style>
<script type="text/javascript">
    ymaps.ready(function () {
        var map = new ymaps.Map('YMapsID', {
            center: [53.867095130120916, 27.570731406497565],
            zoom: 7,
            controls: []
        }, {
            maxZoom: 17,
            minZoom: 7,
            restrictMapArea: [
                [58.486077093111334, 15.89679288089655],
                [49.77185323695446, 39.58331354601873]
            ],
        });
        map.options.set('scrollZoomSpeed', 2);
        //ЦВЕТ ГРАНИЦ РБ (И РЕГИОНОВ РБ)
        var _strokeColorBY = '#CED8E1';
        // ПРОЗРАЧНОСТЬ ЦВЕТА ГРАНИЦ
        var _strokeOpacityBY = 1;
        // ЦВЕТ ЗАЛИВКИ РБ (ВСЕХ РЕГИОНОВ)
        var _fillColorBY = '#85A2BF';
        // ПРОЗРАЧНОСТЬ ЗАЛИВКИ ПО УМОЛЧАНИЮ
        var _fillOpacityBY = 0.8;
        // ТОЧНОСТЬ ГРАНИЦ РБ И РЕГИОНОВ РБ (1- очень не точно; 2- почти точно; 3- точные границы)
        var _qualityBY = 3;
        var objectManager = new ymaps.ObjectManager();
        var features;
        map.events.add('boundschange', function (e) {
            if (e.get('newZoom') !== e.get('oldZoom')) {
                console.log("NEW ZOOM: " + e.get('newZoom') + " OLD ZOOM: " + e.get('oldZoom'));
                switch (e.get('newZoom')) {
                    case 7: clearFeature(); _fillOpacityBY = 0.8; addFeature(); break;
                    case 8: clearFeature(); _fillOpacityBY = 0.8; addFeature(); break;
                    case 9: clearFeature(); _fillOpacityBY = 0.8; addFeature(); break;
                    case 10: clearFeature(); _fillOpacityBY = 0.8; addFeature(); break;
                    case 11: clearFeature(); _fillOpacityBY = 0.8; addFeature(); break;
                    case 12: clearFeature(); _fillOpacityBY = 0.2; addFeature(); break;
                    case 17: clearFeature(); _fillOpacityBY = 0.2; addFeature(); break;
                }
            }
        });
        // Добавление заливки для РБ и регионов с учётом зума и прозрачности
        function addFeature() {
            ymaps.borders.load('BY', {
                lang: 'ru',
                quality: _qualityBY
            }).then(function (geojson) {
                features = geojson.features.map(function (feature) {
                    feature.id = feature.properties.iso3166;
                    feature.options = {
                        strokeColor: _strokeColorBY,
                        strokeOpacity: _strokeOpacityBY,
                        fillColor: _fillColorBY,
                        fillOpacity: _fillOpacityBY,
                        hintCloseTimeout: 0,
                        hintOpenTimeout: 0
                    };
                    return feature;
                });
                objectManager.add(features);
                map.geoObjects.add(objectManager);
            });
        }
        // Очиска границ рБ и регионов
        function clearFeature() {
            objectManager.remove(features);
        }
        ymaps.borders.load('BY', {
            lang: 'ru',
            quality: _qualityBY
        }).then(function (geojson) {
            features = geojson.features.map(function (feature) {
                feature.id = feature.properties.iso3166;
                feature.options = {
                    strokeColor: _strokeColorBY,
                    strokeOpacity: _strokeOpacityBY,
                    fillColor: _fillColorBY,
                    fillOpacity: _fillOpacityBY,
                    hintCloseTimeout: 0,
                    hintOpenTimeout: 0
                };
                return feature;
            });
            objectManager.add(features);
            map.geoObjects.add(objectManager);
        });
        // Цвет Заливки ДРУГИХ СТРАН
        var _fillColor = '#A6BBCE';
        // ПРОЗРАЧНОСТЬ ЗАЛИВКИ (от 0 до 1)
        var _fillOpacity = 0.8;
        // ЦВЕТ ГРАНИЦ ДРГУИХ СТРАН
        var _strokeColor = '#ffffff';
        // ПРОЗРАЧНОСТЬ ЦВЕТА ГРАНИЦЫ (от 0 до 1)
        var _strokeOpacity = 1;
        // ТОЧНОСТЬ ГРАНИЦ ДРУГИХ СТРАН (1- очень не точно; 2- почти точно; 3- точные границы)
        var _quality = 3;
        // Загрузим регионы.
        ymaps.borders.load('001', {
            lang: 'ru',
            quality: _quality
        }).then(function (result) {
            // Создадим многоугольник, который будет скрывать весь мир, кроме заданной страны.
            var background = new ymaps.Polygon([
                [
                    [85, -179.99],
                    [85, 179.99],
                    [-85, 179.99],
                    [-85, -179.99],
                    [85, -179.99]
                ]
            ], {}, {
                fillColor: _fillColor,
                fillOpacity: _fillOpacity,
                strokeWidth: 1.5,
                strokeColor: _strokeColor,
                strokeOpacity: _strokeOpacity,
                coordRendering: 'straightPath'
            });
            // Найдём страну по её iso коду.
            var region = result.features.filter(function (feature) { return feature.properties.iso3166 == 'BY'; })[0];
            var masks = region.geometry.coordinates;
            masks.forEach(function (mask) {
                background.geometry.insert(1, mask);
            });
            // Добавим многоугольник на карту.
            map.geoObjects.add(background);
        })

        // создание кластера
        clusterer = new ymaps.Clusterer({
            // Макет метки кластера pieChart.
            clusterIconLayout: 'default#pieChart',
            // Радиус диаграммы в пикселях.
            clusterIconPieChartRadius: 20,
            // Радиус центральной части макета.
            clusterIconPieChartCoreRadius: 13,
            // Ширина линий-разделителей секторов и внешней обводки диаграммы.
            clusterIconPieChartStrokeWidth: 0,
            // Определяет наличие поля balloon.
            hasBalloon: true
        });
        // получение координат для меток из бд
        $.ajax({
            url: "@Url.Action("GetCoordinates", "Home")",
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            success: function (result) {
                result.geoItems.forEach(element => {
                    // Технопарки
                    if (element.geoType == 0) {
                        var technoParkLayout = ymaps.templateLayoutFactory.createClass(`<div class="o-icon"><div class="parks-process-small d-none" id='${element.id}'></div></div>`);

                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#FFA726",
                            iconLayout: technoParkLayout,
                            pane: 'overlaps',
                            iconImageOffset: [0, 0],
                        });
                    }
                    //Центр трансфера технологий
                    if (element.geoType == 1) {
                        var CTTLayout = ymaps.templateLayoutFactory.createClass(`<div class="o-icon-ctt"><div class="parks-process-small d-none" id='${element.id}'></div></div>`);
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#8BC34A",
                            iconLayout: CTTLayout,
                            pane: 'overlaps',
                            iconImageOffset: [0, 0],
                        });
                    }
                    // ИНН проекты
                    if (element.geoType == 2) {
                        var INNLayout = ymaps.templateLayoutFactory.createClass(`<div class="o-icon-inn"><div class="parks-process-small d-none" id='${element.id}'></div></div>`);
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#3D5AFE",
                            iconLayout: INNLayout,
                            pane: 'overlaps',
                            iconImageOffset: [0, 0],
                        });
                    }
                    //НТП
                    if (element.geoType == 3) {
                        var NTPLayout = ymaps.templateLayoutFactory.createClass(`<div class="o-icon-ntp"><div class="parks-process-small d-none" id='${element.id}'></div></div>`);
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#6A1B9A",
                            iconLayout: NTPLayout,
                            pane: 'overlaps',
                            iconImageOffset: [0, 0],
                        });
                    }
                    //Можно менять опции кластеризатора после создания.
                    clusterer.options.set({
                        gridSize: 100,
                        clusterDisableClickZoom: false
                    });

                    clusterer.add(myGeoObject);
                    map.geoObjects.add(clusterer);

                    map.setBounds(clusterer.getBounds(), {
                        checkZoomRange: true
                    });

                    myGeoObject.events.add('click', function () {
                        // Технопарки
                        const $ProcessSmall = $(`#${element.id}`);
                        if (element.geoType == 0) {
                            $ProcessSmall.removeClass("d-none");

                            var url = "@Url.Action("GetPartialTechParck", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }

                        //Центр трансфера технологий
                        if (element.geoType == 1) {
                            $ProcessSmall.removeClass("d-none");

                            var url = "@Url.Action("GetPartialCTT", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }

                        // ИНН проекты
                        if (element.geoType == 2) {
                            $ProcessSmall.removeClass("d-none");

                            var url = "@Url.Action("GetPartialInnProject", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }
                        //НТП
                        if (element.geoType == 3) {
                            $ProcessSmall.removeClass("d-none");
                            var url = "@Url.Action("GetPartialNtpProject", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }
                    });

                    function AjaxAxtion(url, id, wrapperid) {
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: url,
                            data: { id: id },
                            dataType: "html",
                            success: function (data) {
                                $(wrapperid).empty();
                                $(wrapperid).append(data);
                                top_popup();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Ошибка загрузки таблицы!');
                            }
                        });
                    }
                    // фильтрация меток
                    $(document).ready(function () {
                        const GetRegion = (region) => region == element.region;              
                        //Technoparcki - CHECKBOX
                        $("#filtr_techparck").click(function () {
                            if (!$('#filtr_techparck').is(':checked')) {if (element.geoType == 0) {clusterer.remove(myGeoObject);}}
                            else {
                              var userRegionValueTeh = $("#small-select2-options-multiple-field").val();
                              if (userRegionValueTeh != null)
                              {
                                  if (userRegionValueTeh.some(GetRegion)==true) {if (element.geoType == 0) {clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}}
                              }
                              else { if (element.geoType == 0) {clusterer.add(myGeoObject); map.geoObjects.add(clusterer);} }
                            }
                        });

                        //CTT  - CHECKBOX
                        $("#filtr_ctt").click(function () {
                            if (!$('#filtr_ctt').is(':checked')) { if (element.geoType == 1) {clusterer.remove(myGeoObject);} }
                            else {
                                var userRegionValueCTT = $("#small-select2-options-multiple-field").val();
                                 if (userRegionValueCTT != null)
                                 {
                                    if (userRegionValueCTT.some(GetRegion) == true) {if (element.geoType == 1) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}
                                 }
                                 else{ if (element.geoType == 1){ clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}   
                            }
                        });
                        //INN - filtr_inn_end  - CHECKBOX
                         $("#filtr_inn_end").click(function () {
                            if (!$('#filtr_inn_end').is(':checked')) {if (element.statusInn == 1) {clusterer.remove(myGeoObject);}}
                            else {
                                var userRegionValueInn_end = $("#small-select2-options-multiple-field_inn").val();
                                if (userRegionValueInn_end != null)
                                {
                                    if (userRegionValueInn_end.some(GetRegion) == true)
                                    {
                                        if (element.statusInn == 1) {
                                            clusterer.add(myGeoObject);
                                            map.geoObjects.add(clusterer);
                                        }
                                    }
                                }
                                else{ if (element.statusInn == 1) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}       
                            }
                        });
                        //INN - filtr_inn_continues  - CHECKBOX
                        $("#filtr_inn_continues").click(function () {
                            if (!$('#filtr_inn_continues').is(':checked')) {if (element.statusInn == 2) {clusterer.remove(myGeoObject);}}
                            else {
                                var userRegionValueInn_continues = $("#small-select2-options-multiple-field_inn").val();
                                if (userRegionValueInn_continues !=null)
                                {
                                    if (userRegionValueInn_continues.some(GetRegion) == true){if (element.statusInn == 2){clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}}
                                }
                                else{if (element.statusInn == 2) { clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}}
                           
                            }
                        });
                        //INN - filtr_inn_execute  - CHECKBOX  
                         $("#filtr_inn_execute").click(function () {
                            if (!$('#filtr_inn_execute').is(':checked')) {if (element.statusInn == 3) {clusterer.remove(myGeoObject);}}
                            else {
                                var userRegionValueInn_execute = $("#small-select2-options-multiple-field_inn").val();
                                if (userRegionValueInn_execute != null)
                                {
                                    if (userRegionValueInn_execute.some(GetRegion) == true){if (element.statusInn == 3) { clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}}
                                }
                                else{ if (element.statusInn == 3) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}
                            }
                        });

                         //NTP - filtr_ntp_end  - CHECKBOX
                            $("#filtr_ntp_end").click(function () {
                            if (!$('#filtr_ntp_end').is(':checked')) {if (element.statusNtp == 1) {clusterer.remove(myGeoObject);}}
                            else {
                                var userRegionValueNtp_end = $("#small-select2-options-multiple-field_ntp").val();
                                if (userRegionValueNtp_end != null)
                                {
                                    if (userRegionValueNtp_end.some(GetRegion)==true){if (element.statusNtp == 1) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}
                                }
                                else{if (element.statusNtp == 1) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}
                            }
                        });
                        //NTP - filtr_ntp_continues  - CHECKBOX
                        $("#filtr_ntp_continues").click(function () {
                            if (!$('#filtr_ntp_continues').is(':checked')) {if (element.statusNtp == 2) {clusterer.remove(myGeoObject);}}
                            else {
                                var userRegionValueNtp_continues = $("#small-select2-options-multiple-field_ntp").val();
                                if (userRegionValueNtp_continues != null)
                                {
                                    if (userRegionValueNtp_continues.some(GetRegion) == true){if (element.statusNtp == 2) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}
                                }
                                else {if (element.statusNtp == 2) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}        
                            }
                        });
                        //NTP - filtr_ntp_execute  - CHECKBOX
                            $("#filtr_ntp_execute").click(function () {
                            if (!$('#filtr_ntp_execute').is(':checked')) {if (element.statusNtp == 3) {clusterer.remove(myGeoObject);}}
                            else {
                                var userRegionValueNtp_execute = $("#small-select2-options-multiple-field_ntp").val();
                                if (userRegionValueNtp_execute != null)
                                {
                                  if (userRegionValueNtp_execute.some(GetRegion) == true){if (element.statusNtp == 3) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}
                                }
                                else {if (element.statusNtp == 3) {clusterer.add(myGeoObject);map.geoObjects.add(clusterer);}}   
                            }
                        });

                        // ФИЛЬТР ПО РЕГИОНАМ Технопарки, ЦТТ и БИФ и НЦИС   - MULTI SELECT
                        $(".info_panel-filter").on("change", function () {
                            var userRegionValue = $("#small-select2-options-multiple-field").val();
                            if (userRegionValue != null) {
                               if (userRegionValue.some(GetRegion) == false)
                               {           
                                  if (element.geoType == 0) {clusterer.remove(myGeoObject);}
                                  if (element.geoType == 1) {clusterer.remove(myGeoObject);} 
                               }
                                if (userRegionValue.some(GetRegion) == true) {

                                    if ($('#filtr_techparck').is(':checked'))
                                    {
                                        if (element.geoType == 0) {clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}
                                    }
                                    if ($('#filtr_ctt').is(':checked')) 
                                    {
                                        if (element.geoType == 1) {clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}
                                    }
                               }  
                            }
                           else {
                                if ($('#filtr_techparck').is(':checked')) {
                                    if (element.geoType == 0) {clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}
                                }
                                if ($('#filtr_ctt').is(':checked')) {
                                    if (element.geoType == 1) {clusterer.add(myGeoObject); map.geoObjects.add(clusterer);}
                                }
                           } 
                        });
                       // КОНЕЦ ФИЛЬТ ПО РЕГИОНАМ Технопарки, ЦТТ и БИФ и НЦИС

                        // ФИЛЬТР ПО РЕГИОНАМ ИНН   - MULTI SELECT   
                        $(".info_panel-filter-inn").on("change", function () {
                            var userRegionValueINN = $("#small-select2-options-multiple-field_inn").val();
                            if (userRegionValueINN != null)
                            {
                                if (userRegionValueINN.some(GetRegion)==false)
                                {
                                   if (element.statusInn == 1) {clusterer.remove(myGeoObject);}
                                   if (element.statusInn == 2) {clusterer.remove(myGeoObject);}
                                   if (element.statusInn == 3) {clusterer.remove(myGeoObject);}
                                }
                                if (userRegionValueINN.some(GetRegion) == true) {
                                    if ($('#filtr_inn_end').is(':checked')) 
                                    {
                                       if (element.statusInn == 1) {  clusterer.add(myGeoObject);map.geoObjects.add(clusterer); }
                                    }
                                    if ($('#filtr_inn_continues').is(':checked')) 
                                    {
                                       if (element.statusInn == 2) {  clusterer.add(myGeoObject);map.geoObjects.add(clusterer); }
                                    }
                                    if ($('#filtr_inn_execute').is(':checked')) 
                                    { 
                                       if (element.statusInn == 3) { clusterer.add(myGeoObject);map.geoObjects.add(clusterer); }
                                    }
                                }
                            }
                            else 
                            {
                                if ($('#filtr_inn_end').is(':checked')) {
                                    if (element.statusInn == 1) { clusterer.add(myGeoObject); map.geoObjects.add(clusterer); }
                                }
                                if ($('#filtr_inn_continues').is(':checked')) {
                                    if (element.statusInn == 2) { clusterer.add(myGeoObject); map.geoObjects.add(clusterer); }
                                }
                                if ($('#filtr_inn_execute').is(':checked')) {
                                    if (element.statusInn == 3) { clusterer.add(myGeoObject); map.geoObjects.add(clusterer); }
                                }
                            }
                       });
                       // КОНЕЦ ПО РЕГИОНАМ ИНН

                       // ФИЛЬТР ПО РЕГИОНАМ НТП   - MULTI SELECT info_panel-filter-ntp  small-select2-options-multiple-field_ntp
                        $(".info_panel-filter-ntp").on("change", function () {
                          var userRegionValueNTP = $("#small-select2-options-multiple-field_ntp").val();
                          if (userRegionValueNTP != null)
                          {
                              if (userRegionValueNTP.some(GetRegion)==false)
                              {
                                  if (element.statusNtp == 1) {clusterer.remove(myGeoObject);}
                                  if (element.statusNtp == 2) {clusterer.remove(myGeoObject);}
                                  if (element.statusNtp == 3) {clusterer.remove(myGeoObject);}
                              }
                                if (userRegionValueNTP.some(GetRegion) == true) {
                                    if ($('#filtr_ntp_end').is(':checked')) 
                                    {
                                        if (element.statusNtp == 1) {  clusterer.add(myGeoObject);map.geoObjects.add(clusterer); }
                                    }
                                    if ($('#filtr_ntp_continues').is(':checked')) 
                                    {
                                        if (element.statusNtp == 2) {  clusterer.add(myGeoObject);map.geoObjects.add(clusterer); }
                                    }
                                    if ($('#filtr_ntp_execute').is(':checked')) 
                                    {
                                        if (element.statusNtp == 3) { clusterer.add(myGeoObject); map.geoObjects.add(clusterer); }
                                    }
                              }
                          }
                          else
                          {
                                    if ($('#filtr_ntp_end').is(':checked')) 
                                    {
                                        if (element.statusNtp == 1) {  clusterer.add(myGeoObject);map.geoObjects.add(clusterer); }
                                    }
                                    if ($('#filtr_ntp_continues').is(':checked')) 
                                    {
                                        if (element.statusNtp == 2) {  clusterer.add(myGeoObject);map.geoObjects.add(clusterer); }
                                    }
                                    if ($('#filtr_ntp_execute').is(':checked')) 
                                    {
                                        if (element.statusNtp == 3) { clusterer.add(myGeoObject); map.geoObjects.add(clusterer); }
                                    }
                          } 

                        });
                       // КОНЕЦ ПО РЕГИОНАМ НТП   
                    });
                    // конец фильтрации
                });
            }
        });
        // При нажатии на вкладку "Субъекты инновационной инфраструктуры"
        $(document).ready(function () {
            const $showDataItem_techpar_ctt = $("#Item_techparck_ctt");
            $showDataItem_techpar_ctt.click(function () {
               let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
                $("#info_object_Inn").empty();
                $("#info_object_ntp").empty();
                var userRegionValueT_CTT = $("#small-select2-options-multiple-field").val();
                if (hasClass) {
                    $.ajax({
                        url: "@Url.Action("PostData", "Home")",
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        success: function (result) {
                          if (userRegionValueT_CTT == null)
                          {
                                // Технопарки
                                if ($('#filtr_techparck').is(':checked')) {
                                    result.technopark.forEach(itemTechnopark => { $("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark)); })
                                }
                                //ЦТТ
                                if ($('#filtr_ctt').is(':checked')) {  
                                    result.techTransferCenter.forEach(itemTechTransferCenter => { $("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter)); })
                                }
                          }
                          if (userRegionValueT_CTT != null) 
                          {
                                // Технопарки
                                if ($('#filtr_techparck').is(':checked')) {
                                    result.technopark.forEach(itemTechnopark => { 
                                        const GetRegionT = (region) => region == itemTechnopark.region;
                                        if (userRegionValueT_CTT.some(GetRegionT) == true){$("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark));}
                                    })
                                }
                                //ЦТТ
                                if ($('#filtr_ctt').is(':checked')) {
                                    result.techTransferCenter.forEach(itemTechTransferCenter => { 
                                        const GetRegionCTT = (region) => region == itemTechTransferCenter.region;
                                        if (userRegionValueT_CTT.some(GetRegionCTT) == true) {$("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter));}    
                                    })
                                }                             
                          }
                            // ФИЛЬТР ПО РЕГИОНАМ Технопарки, ЦТТ и БИФ и НЦИС   - MULTI SELECT с учётом вкл и выкл чекбоксов
                            $(".info_panel-filter").on("change", function () {
                                var userRegionValue_modal = $("#small-select2-options-multiple-field").val();
                                if (userRegionValue_modal != null)
                                {
                                    $("#info_object_tehnoparck_ctt").empty();
                                    if ($('#filtr_techparck').is(':checked')) {
                                        result.technopark.forEach(itemTechnopark => {
                                            const GetRegionT = (region) => region == itemTechnopark.region;
                                            if (userRegionValue_modal.some(GetRegionT) == true) {$("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark));}
                                        })
                                    }
                                    //ЦТТ
                                    if ($('#filtr_ctt').is(':checked')) {
                                        result.techTransferCenter.forEach(itemTechTransferCenter => {
                                            const GetRegionCTT = (region) => region == itemTechTransferCenter.region;
                                            if (userRegionValue_modal.some(GetRegionCTT) == true) {$("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter));}
                                        })
                                    }
                                } 
                                if (userRegionValue_modal == null)
                                {
                                    $("#info_object_tehnoparck_ctt").empty();
                                    // Технопарки
                                    if ($('#filtr_techparck').is(':checked')) {
                                        result.technopark.forEach(itemTechnopark => { $("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark)); })
                                    }
                                    //ЦТТ
                                    if ($('#filtr_ctt').is(':checked')) {
                                        result.techTransferCenter.forEach(itemTechTransferCenter => { $("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter)); })
                                    }
                                }
                            });
                            // КОНЕЦ ФИЛЬТ ПО РЕГИОНАМ Технопарки, ЦТТ и БИФ и НЦИС
                            // Фильтрация данных в выподающем спике по чекбоксам с учётом выбранных данных в мульте силекте
                            $("#filtr_teh_ctt_bif").click(function () {
                               var userRegionValueTCTT = $("#small-select2-options-multiple-field").val();
                                // Технопарки
                                if ($('#filtr_techparck').is(':checked') && $('#filtr_ctt').is(':checked')) {
                                    if (userRegionValueTCTT == null)
                                    {
                                      $("#info_object_tehnoparck_ctt").empty();
                                      result.technopark.forEach(itemTechnopark => { $("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark)); })
                                      result.techTransferCenter.forEach(itemTechTransferCenter => { $("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter)); })
                                    }
                                    if (userRegionValueTCTT != null)
                                    {
                                        $("#info_object_tehnoparck_ctt").empty();
                                        result.technopark.forEach(itemTechnopark => { 
                                            const GetRegT = (region) => region == itemTechnopark.region;
                                            if (userRegionValueTCTT.some(GetRegT) == true){$("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark));}
                                        })
                                        result.techTransferCenter.forEach(itemTechTransferCenter => { 
                                            const GetRegCtt = (region) => region == itemTechTransferCenter.region;
                                            if (userRegionValueTCTT.some(GetRegCtt) == true){$("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter));}
                                        })
                                    }  
                                }
                                //Технопарки
                                if (!$('#filtr_techparck').is(':checked')) {
                                    if (userRegionValueTCTT == null)
                                    {
                                       $("#info_object_tehnoparck_ctt").empty();
                                       result.techTransferCenter.forEach(itemTechTransferCenter => { $("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter)); })
                                    }
                                    if (userRegionValueTCTT != null) 
                                    {
                                        $("#info_object_tehnoparck_ctt").empty();
                                         result.techTransferCenter.forEach(itemTechTransferCenter => { 
                                            const GetRegCtt = (region) => region == itemTechTransferCenter.region;
                                            if (userRegionValueTCTT.some(GetRegCtt) == true){$("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter));}
                                        })
                                    }    
                                }
                                //ЦТТ
                                if (!$('#filtr_ctt').is(':checked')) {
                                    if (userRegionValueTCTT == null)
                                    {
                                        $("#info_object_tehnoparck_ctt").empty();
                                        result.technopark.forEach(itemTechnopark => { $("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark)); })
                                    }
                                    if (userRegionValueTCTT != null) 
                                    {
                                        $("#info_object_tehnoparck_ctt").empty();
                                        result.technopark.forEach(itemTechnopark => {
                                            const GetRegT = (region) => region == itemTechnopark.region;
                                            if (userRegionValueTCTT.some(GetRegT) == true) {$("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark));}
                                        })
                                    }
                                  
                                }
                                if (!$('#filtr_techparck').is(':checked') && !$('#filtr_ctt').is(':checked')) {$("#info_object_tehnoparck_ctt").empty();}
                            });
                        }
                    });

                    // Технопарк, получение блога данных
                    function getInfoTechnopark(itemTechnopark) {
                        return `
                                                    <a  class="info_item item-header-js" data-type="tehParckHeader" data-id="${itemTechnopark.id}" data-x="${itemTechnopark.x}" data-y="${itemTechnopark.y}" >
                                                <div class="info_item-icon parks-actual-big"></div>
                                            <div class="info_item-data">
                                                <h3>${itemTechnopark.nameTechnopark}</h3>
                                                        <span class="info_item-region">${itemTechnopark.addressTechnopark}</span>
                                           </div>
                                        </a>
                                `;
                    }
                    // ЦТТ, получение блога данных
                    function getInfoTechTransferCenter(itemTechTransferCenter) {
                        return `
                                                        <a class="info_item item-header-js" data-type="cctHeader" data-id="${itemTechTransferCenter.id}" data-x="${itemTechTransferCenter.x}" data-y="${itemTechTransferCenter.y}">
                                                    <div class="info_item-icon ctt-small"></div>
                                            <div class="info_item-data">
                                                <h3>${itemTechTransferCenter.nameTechTransferCenter}</h3>
                                                    <span class="info_item-region">${itemTechTransferCenter.adressTechTransferCenter}</span>
                                           </div>
                                      </a>
                                  `;
                    }

                }
                else {
                    $('.sidebarmap-accordion_item').removeClass('active_block');
                    $("#info_object_tehnoparck_ctt").empty();
                }
            });
        });
        // При нажатии на вкладку "Инновационные проекты"  
        $(document).ready(function () {
            const $showDataItem_inn = $("#Item_inn");
            $showDataItem_inn.click(function () {
                var userRegVal_inn = $("#small-select2-options-multiple-field_inn").val();
                let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
                $("#info_object_ntp").empty();
                $("#info_object_tehnoparck_ctt").empty();
                if (hasClass) {
                    $.ajax({
                        url: "@Url.Action("PostData", "Home")",
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        success: function (result) {
                            if (userRegVal_inn == null)
                            {
                                // ИНН filtr_inn_end
                                if ($('#filtr_inn_end').is(':checked')) {
                                    result.innProject.forEach(itemInnProject => {
                                        if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                    })
                                }
                               // ИНН filtr_inn_continues
                               if ($('#filtr_inn_continues').is(':checked')) {
                                  result.innProject.forEach(itemInnProject => { 
                                      if (itemInnProject.statusInn == 2){$("#info_object_Inn").append(getInfoInn(itemInnProject)); }
                                  })
                               }
                                // ИНН filtr_inn_execute
                                if ($('#filtr_inn_execute').is(':checked')) {
                                    result.innProject.forEach(itemInnProject => {
                                        if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                    })
                                }
                            }
                            if (userRegVal_inn != null)
                            {
                                // ИНН filtr_inn_end
                                if ($('#filtr_inn_end').is(':checked')) {
                                    result.innProject.forEach(itemInnProject => {
                                        const GetRegionInn_end = (region) => region == itemInnProject.region;
                                        if (userRegVal_inn.some(GetRegionInn_end) == true)
                                        {
                                          if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        }
                                    })
                                }
                                 // ИНН filtr_inn_continues
                                if ($('#filtr_inn_continues').is(':checked')) {
                                    result.innProject.forEach(itemInnProject => {
                                        const GetRegionInn_con = (region) => region == itemInnProject.region;
                                        if (userRegVal_inn.some(GetRegionInn_con) == true)
                                        {
                                          if (itemInnProject.statusInn == 2) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        }
                                    })
                                }
                                // ИНН filtr_inn_execute
                                if ($('#filtr_inn_execute').is(':checked')) {
                                    result.innProject.forEach(itemInnProject => {
                                        const GetRegionInn_ex = (region) => region == itemInnProject.region;
                                        if (userRegVal_inn.some(GetRegionInn_ex) == true) {
                                            if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        }
                                    })
                                }
                            }
                            // ФИЛЬТР ПО РЕГИОНАМ ИНН   - MULTI SELECT    с учётом вкл и выкл чекбоксов
                            $(".info_panel-filter-inn").on("change", function () {
                                var userRegionValueINN_modal = $("#small-select2-options-multiple-field_inn").val();
                                if (userRegionValueINN_modal != null) {
                                    $("#info_object_Inn").empty();
                                       // ИНН filtr_inn_end
                                if ($('#filtr_inn_end').is(':checked')) {
                                    result.innProject.forEach(itemInnProject => {
                                        const GetRegionInn_end = (region) => region == itemInnProject.region;
                                        if (userRegionValueINN_modal.some(GetRegionInn_end) == true)
                                        {
                                          if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        }
                                    })
                                }
                                    // ИНН filtr_inn_continues
                                    if ($('#filtr_inn_continues').is(':checked')) {
                                        result.innProject.forEach(itemInnProject => {
                                            const GetRegionInn_con = (region) => region == itemInnProject.region;
                                            if (userRegionValueINN_modal.some(GetRegionInn_con) == true) {
                                                if (itemInnProject.statusInn == 2) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                            }
                                        })
                                    }
                                     // ИНН filtr_inn_execute
                                    if ($('#filtr_inn_execute').is(':checked')) {
                                        result.innProject.forEach(itemInnProject => {
                                            const GetRegionInn_ex = (region) => region == itemInnProject.region;
                                            if (userRegionValueINN_modal.some(GetRegionInn_ex) == true) {
                                                if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                            }
                                        })
                                    }  
                                }
                                if (userRegionValueINN_modal == null)
                                {
                                    // ИНН filtr_inn_end
                                    if ($('#filtr_inn_end').is(':checked')) {
                                        result.innProject.forEach(itemInnProject => {
                                            if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        })
                                    }
                                    // ИНН filtr_inn_continues
                                    if ($('#filtr_inn_continues').is(':checked')) {
                                        result.innProject.forEach(itemInnProject => {
                                            if (itemInnProject.statusInn == 2) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        })
                                    }
                                    // ИНН filtr_inn_execute
                                    if ($('#filtr_inn_execute').is(':checked')) {
                                        result.innProject.forEach(itemInnProject => {
                                            if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        })
                                    }
                                }
                            });
                            // КОНЕЦ ПО РЕГИОНАМ ИНН

                            // Фильтрация данных в выподающем спике по чекбоксам с учётом выбранных данных в мульте силекте
                            $("#filtr_inn").click(function () {
                                var userRegVal_inn = $("#small-select2-options-multiple-field_inn").val();
                                if ($('#filtr_inn_continues').is(':checked') && $('#filtr_inn_end').is(':checked') && $('#filtr_inn_execute').is(':checked')) {
                                    $("#info_object_Inn").empty();
                                    if (userRegVal_inn == null)
                                    {
                                        result.innProject.forEach(itemInnProject => { $("#info_object_Inn").append(getInfoInn(itemInnProject)); })
                                    }
                                    if (userRegVal_inn != null)
                                    {
                                         result.innProject.forEach(itemInnProject => 
                                         { 
                                          const GetRegionInn = (region) => region == itemInnProject.region;
                                             if (userRegVal_inn.some(GetRegionInn)==true){$("#info_object_Inn").append(getInfoInn(itemInnProject));}       
                                         })
                                    }
                                   
                                }
                                // filtr_inn_end
                                if (!$('#filtr_inn_end').is(':checked'))
                                {
                                     $("#info_object_Inn").empty();
                                     if (userRegVal_inn == null)
                                     {
                                         result.innProject.forEach(itemInnProject => { 
                                            if (itemInnProject.statusInn==2){$("#info_object_Inn").append(getInfoInn(itemInnProject)); }
                                            if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                         })
                                     }
                                     if (userRegVal_inn !=null)
                                     {
                                        result.innProject.forEach(itemInnProject => { 
                                          const GetRegionInn = (region) => region == itemInnProject.region;
                                          if (userRegVal_inn.some(GetRegionInn)==true)
                                          {
                                            if (itemInnProject.statusInn==2){$("#info_object_Inn").append(getInfoInn(itemInnProject)); }
                                            if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                          }   
                                        })
                                     }
                                }
                                // filtr_inn_continues
                                if (!$('#filtr_inn_continues').is(':checked')) {
                                    $("#info_object_Inn").empty();
                                    if (userRegVal_inn == null) {
                                        result.innProject.forEach(itemInnProject => {
                                            if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                            if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        })
                                    }
                                    if (userRegVal_inn != null) {

                                        result.innProject.forEach(itemInnProject => {
                                            const GetRegionInn = (region) => region == itemInnProject.region;
                                            if (userRegVal_inn.some(GetRegionInn) == true) {
                                                if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                                if (itemInnProject.statusInn == 3) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                            }
                                        })
                                    }
                                }
                                // filtr_inn_execute
                                if (!$('#filtr_inn_execute').is(':checked')) {
                                    $("#info_object_Inn").empty();
                                    if (userRegVal_inn == null) {
                                        result.innProject.forEach(itemInnProject => {
                                            if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                            if (itemInnProject.statusInn == 2) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                        })
                                    }
                                    if (userRegVal_inn != null) {
                                        result.innProject.forEach(itemInnProject => {
                                            const GetRegionInn = (region) => region == itemInnProject.region;
                                            if (userRegVal_inn.some(GetRegionInn) == true) {
                                                if (itemInnProject.statusInn == 1) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                                if (itemInnProject.statusInn == 2) {$("#info_object_Inn").append(getInfoInn(itemInnProject));}
                                            }
                                        })
                                    }
                                }
                                if (!$('#filtr_inn_continues').is(':checked') && !$('#filtr_inn_end').is(':checked') && !$('#filtr_inn_execute').is(':checked')) { $("#info_object_Inn").empty();}
                            });

                        }
                    });
                    //ИНН
                    function getInfoInn(itemInnProject) {
                        return `
                                             <a  class="info_item  item-header-js" data-type="InnHeader" data-id="${itemInnProject.id}" data-x="${itemInnProject.x}" data-y="${itemInnProject.y}">
                                             <div class="info_item-icon inn-big"></div>
                                             <div class="info_item-data">
                                                <h3>${itemInnProject.nameInnProject}</h3>
                                                    <div class ="info_item-cl-nm">
                                                    <span class="info_item-client">Заказчик:</span>
                                                    <span class="info_item-client-name">${itemInnProject.customer}</span>
                                                      </div>
                                             </div>
                                         </a>
                                    `;
                    }
                }
                else {
                    $('.sidebarmap-accordion_item').removeClass('active_block');
                    $("#info_object_Inn").empty();
                }
            });
        });
        // При нажатии на вкладку "Научно-технологические  программы"
        $(document).ready(function () {
            const $showDataItem_ntp = $("#Item_ntp");
            $showDataItem_ntp.click(function () {
                var userRegVal_ntp = $("#small-select2-options-multiple-field_ntp").val();
                let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
                $("#info_object_Inn").empty();
                $("#info_object_tehnoparck_ctt").empty();
                // если меню открыто, то выполнить ajax запрос и подставить данные
                if (hasClass) {
                    $.ajax({
                        url: "@Url.Action("PostData", "Home")",
                        type: 'POST',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        async: true,
                        success: function (result) {
                            if (userRegVal_ntp == null) {
                                // НТП filtr_ntp_end
                                if ($('#filtr_ntp_end').is(':checked')) {
                                    result.ntpProject.forEach(itemNtpProject => {
                                        if (itemNtpProject.statusNtp == 1) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                    })
                                }
                                // НТП filtr_ntp_continues
                                if ($('#filtr_ntp_continues').is(':checked')) {
                                    result.ntpProject.forEach(itemNtpProject => {
                                        if (itemNtpProject.statusNtp == 2) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                    })
                                }
                                // НТП filtr_ntp_execute
                                if ($('#filtr_ntp_execute').is(':checked')) {
                                    result.ntpProject.forEach(itemNtpProject => {
                                        if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                    })
                                }
                            }
                            if (userRegVal_ntp != null) {
                                // НТП filtr_ntp_end
                                if ($('#filtr_ntp_end').is(':checked')) {
                                    result.ntpProject.forEach(itemNtpProject => {
                                        const GetRegionNtp_end = (region) => region == itemNtpProject.region;
                                        if (userRegVal_ntp.some(GetRegionNtp_end) == true) {
                                            if (itemNtpProject.statusNtp == 1) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        }
                                    })
                                }
                                // НТП filtr_ntp_continues
                                   if ($('#filtr_ntp_continues').is(':checked')) {
                                    result.ntpProject.forEach(itemNtpProject => {
                                        const GetRegionNtp_continues = (region) => region == itemNtpProject.region;
                                        if (userRegVal_ntp.some(GetRegionNtp_continues) == true) {
                                            if (itemNtpProject.statusNtp == 2) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        }
                                    })
                                }
                                // НТП filtr_ntp_execute
                                if ($('#filtr_ntp_execute').is(':checked')) {
                                    result.ntpProject.forEach(itemNtpProject => {
                                        const GetRegionNtp_execute = (region) => region == itemNtpProject.region;
                                        if (userRegVal_ntp.some(GetRegionNtp_execute) == true) {
                                            if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        }
                                    })
                                }
                            }


                            // ФИЛЬТР ПО РЕГИОНАМ НТП   - MULTI SELECT    с учётом вкл и выкл чекбоксов
                            $(".info_panel-filter-ntp").on("change", function () {
                                var userRegionValueNTP_modal = $("#small-select2-options-multiple-field_ntp").val();
                                if (userRegionValueNTP_modal != null) {
                               $("#info_object_ntp").empty();
                               // НТП filtr_ntp_end
                                if ($('#filtr_ntp_end').is(':checked')) {
                                    result.ntpProject.forEach(itemNtpProject => {
                                        const GetRegionNtp_end = (region) => region == itemNtpProject.region;
                                        if (userRegionValueNTP_modal.some(GetRegionNtp_end) == true)
                                        {
                                          if (itemNtpProject.statusNtp == 1) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        }
                                    })
                                }
                                    // НТП filtr_ntp_continues
                                    if ($('#filtr_ntp_continues').is(':checked')) {
                                      result.ntpProject.forEach(itemNtpProject => {
                                        const GetRegionNtp_con = (region) => region == itemNtpProject.region;
                                        if (userRegionValueNTP_modal.some(GetRegionNtp_con) == true)
                                        {
                                          if (itemNtpProject.statusNtp == 2) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        }
                                      })
                                    }
                                     // НТП filtr_ntp_execute
                                    if ($('#filtr_ntp_execute').is(':checked')) {
                                      result.ntpProject.forEach(itemNtpProject => {
                                        const GetRegionNtp_ex = (region) => region == itemNtpProject.region;
                                        if (userRegionValueNTP_modal.some(GetRegionNtp_ex) == true)
                                        {
                                          if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        }
                                      })
                                    }
                                }
                                if (userRegionValueNTP_modal == null) {
                                    $("#info_object_ntp").empty();
                                    // НТП filtr_ntp_end
                                    if ($('#filtr_ntp_end').is(':checked')) {
                                        result.ntpProject.forEach(itemNtpProject => {
                                            if (itemNtpProject.statusNtp == 1) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        })
                                    }

                                    // НТП filtr_ntp_continues
                                    if ($('#filtr_ntp_continues').is(':checked')) {
                                        result.ntpProject.forEach(itemNtpProject => {
                                            if (itemNtpProject.statusNtp == 2) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        })
                                    }

                                    // НТП filtr_ntp_execute
                                    if ($('#filtr_ntp_execute').is(':checked')) {
                                        result.ntpProject.forEach(itemNtpProject => {
                                            if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                        })
                                    }
                                }
                            });
                            // КОНЕЦ ПО РЕГИОНАМ НТП

                            // Фильтрация данных в выподающем спике по чекбоксам с учётом выбранных данных в мульте силекте
                            $("#filtr_ntp").click(function () {
                                var userRegVal_ntp = $("#small-select2-options-multiple-field_ntp").val();
                                if ($('#filtr_ntp_continues').is(':checked') && $('#filtr_ntp_end').is(':checked') && $('#filtr_ntp_execute').is(':checked')) {
                                    $("#info_object_ntp").empty();
                                    if (userRegVal_ntp == null)
                                    {
                                        result.ntpProject.forEach(itemNtpProject => { $("#info_object_ntp").append(getInfoNtp(itemNtpProject)); })
                                    }
                                    if (userRegVal_ntp != null)
                                    {
                                         result.ntpProject.forEach(itemNtpProject => 
                                         { 
                                          const GetRegionNtp = (region) => region == itemNtpProject.region;
                                            if (userRegVal_ntp.some(GetRegionNtp) == true) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}       
                                         })
                                    }
                                }
                                // filtr_ntp_end
                                if (!$('#filtr_ntp_end').is(':checked'))
                                {
                                    $("#info_object_ntp").empty();
                                     if (userRegVal_ntp == null)
                                     {
                                         result.ntpProject.forEach(itemNtpProject => { 
                                            if (itemNtpProject.statusNtp == 2){$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                            if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                         })
                                     }
                                    if (userRegVal_ntp != null) {
                                        result.ntpProject.forEach(itemNtpProject => { 
                                          const GetRegionNtp = (region) => region == itemNtpProject.region;
                                          if (userRegVal_ntp.some(GetRegionNtp)==true)
                                          {
                                            if (itemNtpProject.statusNtp==2){$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                            if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                          }   
                                        })
                                     }
                                }
                                // filtr_ntp_continues
                                if (!$('#filtr_ntp_continues').is(':checked'))
                                {
                                 
                                    $("#info_object_ntp").empty();
                                     if (userRegVal_ntp == null)
                                     {
                                         result.ntpProject.forEach(itemNtpProject => { 
                                            if (itemNtpProject.statusNtp == 1){$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                            if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));} 
                                         })
                                     }
                                    if (userRegVal_ntp != null) {
                                        result.ntpProject.forEach(itemNtpProject => { 
                                          const GetRegionNtp = (region) => region == itemNtpProject.region;
                                          if (userRegVal_ntp.some(GetRegionNtp)==true)
                                          {
                                            if (itemNtpProject.statusNtp == 2){$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                            if (itemNtpProject.statusNtp == 3) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                          }   
                                        })
                                     }
                                }
                                // filtr_ntp_execute
                                if (!$('#filtr_ntp_execute').is(':checked'))
                                {
                                    $("#info_object_ntp").empty();
                                     if (userRegVal_ntp == null)
                                     {
                                         result.ntpProject.forEach(itemNtpProject => { 
                                            if (itemNtpProject.statusNtp == 1){$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                            if (itemNtpProject.statusNtp == 2) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                         })
                                     }
                                    if (userRegVal_ntp != null) {
                                        result.ntpProject.forEach(itemNtpProject => { 
                                          const GetRegionNtp = (region) => region == itemNtpProject.region;
                                          if (userRegVal_ntp.some(GetRegionNtp)==true)
                                          {
                                            if (itemNtpProject.statusNtp == 1){$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                            if (itemNtpProject.statusNtp == 2) {$("#info_object_ntp").append(getInfoNtp(itemNtpProject));}
                                          }   
                                        })
                                     }
                                }
                                if (!$('#filtr_ntp_continues').is(':checked') && !$('#filtr_ntp_end').is(':checked') && !$('#filtr_ntp_execute').is(':checked')) { $("#info_object_ntp").empty(); }
                               
                            });
                        }
                    });
                    // НТП
                    function getInfoNtp(itemNtpProject) {
                        return `
                                                 <a  class="info_item  item-header-js" data-type="NtpHeader" data-id="${itemNtpProject.id}" data-x="${itemNtpProject.x}" data-y="${itemNtpProject.y}">
                                            <div class="info_item-icon ntp-big"></div>
                                        <div class="info_item-data">
                                            <h3>${itemNtpProject.nameTask}</h3>
                                                  <div class ="info_item-cl-nm">
                                                        <span class="info_item-client">Заказчик:</span>
                                                                <span class="info_item-client-name">${itemNtpProject.stateCustomer}</span>
                                                      </div>
                                       </div>
                                     </a>
                                        `;
                    }
                }
                // При закрытии меню происходит очистка div, чтобы избежать дублирования информации
                else {
                    $('.sidebarmap-accordion_item').removeClass('active_block');
                    $("#info_object_ntp").empty();
                }
            });
        });

        let timeoutID;
        // всплывающее окно
        function top_popup() {
            $(document).ready(function () {
                const $closeWindow = $(".close-window");
                const $windowbar = $(".window");
                const $windowChild = $(".window-child");
                const $windowBlock = $(".window-block");
                const $buttonLeft = $(".window-side-button_left");
                const $childContainer = $(".window-child-container");
                const $closeBtn = $(".window-side-button");
                const $parksProcessSmall = $(".parks-process-small");
                $windowbar.toggleClass("active");
                $windowChild.toggleClass("active");
                $windowBlock.removeClass("d-none");
                let hasClass = $('.window').hasClass('active');
                if (!hasClass) {
                    $("#window-container").empty();
                }
                $closeWindow.click(function () {
                    $windowbar.removeClass("active");
                    $windowChild.removeClass("active");
                    $("#window-container").empty();
                    $windowBlock.addClass("d-none");
                    $parksProcessSmall.addClass("d-none");
                    stoptimeout();
                });
                $windowBlock.click(function () {
                    $windowbar.removeClass("active");
                    $windowChild.removeClass("active");
                    $("#window-container").empty();
                    $windowBlock.addClass("d-none");
                    $parksProcessSmall.addClass("d-none");
                    stoptimeout();
                });
                $closeBtn.click(function () {
                    $windowChild.animate({ width: 300 }, 250);
                    $buttonLeft.show();
                    $childContainer.show();

                });
                $buttonLeft.on('click', function () {
                    $windowChild.animate({ width: 0 }, 200);
                    $buttonLeft.hide();
                    $childContainer.hide();
                });
            });
        }
        function stoptimeout() {
            clearTimeout(timeoutID);
            const $parksProcessSmall = $(".parks-process-small");
            $parksProcessSmall.addClass("d-none");

        }
        // получение данных по id
        $(document).ready(function () {
            $('.sidebarmap').on('click', '.item-header-js', function () {
                var url = "";
                var wrapperid = "";
                var id = $(this).attr("data-id");
                var x = $(this).attr("data-x");
                var y = $(this).attr("data-y");
                switch ($(this).attr("data-type")) {
                    case 'cctHeader':
                        url = "@Url.Action("GetPartialCTT", "Home")";
                        wrapperid = "#window-container";
                        break;
                    case 'tehParckHeader':
                        url = "@Url.Action("GetPartialTechParck", "Home")";
                        wrapperid = "#window-container";
                        break;
                    case 'InnHeader':
                        url = "@Url.Action("GetPartialInnProject", "Home")";
                        wrapperid = "#window-container";
                        break;
                    case 'NtpHeader':
                        url = "@Url.Action("GetPartialNtpProject", "Home")";
                        wrapperid = "#window-container";
                        break;
                }
                if (url != "") {
                    AjaxAxtion(url, id, x, y, wrapperid);
                }
            });
            function AjaxAxtion(url, id, x, y, wrapperid) {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: url,
                    data: {
                        id: id,
                        x: x,
                        y: y
                    },
                    dataType: "html",
                    success: function (data) {
                        $(wrapperid).empty();
                        $(wrapperid).append(data);
                        map.setCenter([x, y - 0.004], 17, {
                            checkZoomRange: false
                        });
                        timeoutID = setTimeout(function () {
                            const $parksProcessSmall = $(`#${id}`);
                            $parksProcessSmall.removeClass("d-none");
                        }, 1000);
                        top_popup();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Ошибка загрузки данных!');
                    }
                });
            }
        });
    });
</script>

<div id="YMapsID"></div>

<!-- left sidebar map -->
<div class="sidebarmap">
    <div class="sidebarmap-container">
        <!-- Инновационная инфраструктура -->
        <section class="sidebarmap-accordion_item">
            <h3 class="title_block" id="Item_techparck_ctt">
                Инновационная инфраструктура
            </h3>
            <div class="info">
                <div class="info_panel">
                    <div class="info_panel-switchers d-flex" id="filtr_teh_ctt_bif">
                        <input type="checkbox" id="filtr_techparck" checked>
                        <label for="filtr_techparck" data-on-label="Технопарки" data-off-label="Технопарки"></label>
                        <input type="checkbox" id="filtr_ctt" checked>
                        <label for="filtr_ctt" data-on-label="ЦТТ" data-off-label="ЦТТ"></label>
                        <input type="checkbox" id="filtr_bif" disabled>
                        <label for="filtr_bif" data-on-label="Биф и НЦИС" data-off-label="Биф и НЦИС"></label>
                    </div>
                    <div class="info_panel-filter">
                        <span for="select2-search__field" class="filter-name">Регион</span>
                        <div class="mb-3">
                            <select class="form-select" id="small-select2-options-multiple-field" multiple data-placeholder-tmp="">
                                <option value="7">Минск</option>
                                <option value="5">Минская область</option>
                                <option value="6">Могилевская область</option>
                                <option value="1">Брестская область</option>
                                <option value="3">Гомельская область</option>
                                <option value="4">Гродненская область</option>
                                <option value="2">Витебская область</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="info_object">
                    <div class="sort-bar">
                        <span class="sort-button" id="sort_tehnoparck_ctt">Название</span>
                    </div>
                    <div id="info_object_tehnoparck_ctt"></div>
                </div>
            </div>
        </section>
        <!--КОНЕЦ Инновационная инфраструктура -->
        <!-- Инновационные проекты -->
        <section class="sidebarmap-accordion_item">
            <h3 class="title_block" id="Item_inn">Инновационные проекты</h3>
            <div class="info">
                <div class="info_panel">
                    <div class="info_panel-switchers d-flex" id="filtr_inn">
                        <input type="checkbox" id="filtr_inn_end" disabled>
                        <label for="filtr_inn_end" data-on-label="Завершено" data-off-label="Завершено"></label>
                        <input type="checkbox" id="filtr_inn_continues" checked>
                        <label for="filtr_inn_continues" data-on-label="Выполняется" data-off-label="Выполняется"></label>
                        <input type="checkbox" id="filtr_inn_execute" disabled>
                        <label for="filtr_inn_execute" data-on-label="План" data-off-label="План"></label>
                    </div>
                    <div class="info_panel-filter-inn">
                        <span class="filter-name">Регион</span>
                        <div class="mb-3">
                            <select class="form-select" id="small-select2-options-multiple-field_inn" multiple data-placeholder-tmp="">
                                <option value="7">Минск</option>
                                <option value="5">Минская область</option>
                                <option value="6">Могилевская область</option>
                                <option value="1">Брестская область</option>
                                <option value="3">Гомельская область</option>
                                <option value="4">Гродненская область</option>
                                <option value="2">Витебская область</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="info_object" style="height:340px; overflow: hidden !important;">
                    <div class="sort-bar">
                        <span class="sort-icon"></span>
                        <span class="sort-button" id="sort_inn">Название</span>
                    </div>
                    <div id="info_object_Inn"></div>
                </div>
            </div>
        </section>
        <!--КОНЕЦ Инновационные проекты -->
        <!-- Научно-технические программы -->
        <section class="sidebarmap-accordion_item">
            <h3 class="title_block" id="Item_ntp"> Научно-технические программы</h3>
            <div class="info">
                <div class="info_panel">
                    <div class="info_panel-switchers d-flex" id="filtr_ntp">
                        <input type="checkbox" id="filtr_ntp_end" disabled>
                        <label for="filtr_ntp_end" data-on-label="Завершено" data-off-label="Завершено"></label>
                        <input type="checkbox" id="filtr_ntp_continues" checked>
                        <label for="filtr_ntp_continues" data-on-label="Выполняется" data-off-label="Выполнятеся"></label>
                        <input type="checkbox" id="filtr_ntp_execute" disabled>
                        <label for="filtr_ntp_execute" data-on-label="План" data-off-label="План"></label>
                    </div>
                    <div class="info_panel-filter-ntp">
                        <span class="filter-name">Регион</span>
                        <div class="mb-3">
                            <select class="form-select" id="small-select2-options-multiple-field_ntp" data-placeholder-tmp="" multiple>
                                <option value="7">Минск</option>
                                <option value="5">Минская область</option>
                                <option value="6">Могилевская область</option>
                                <option value="1">Брестская область</option>
                                <option value="3">Гомельская область</option>
                                <option value="4">Гродненская область</option>
                                <option value="2">Витебская область</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="info_object" style="height:230px;">
                    <div class="sort-bar">
                        <span class="sort-icon"></span>
                        <span class="sort-button" id="sort_ntp">Название</span>
                    </div>
                    <div id="info_object_ntp"></div>
                </div>
            </div>
        </section>
        <!--КОНЕЦ Научно-технологические программы -->
    </div>
    <!-- end accordion -->

</div>

<!-- end <!-- left sidebar map -->
<!-- window -->
<div class="window-block d-none"></div>
<div class="window">
    <div class="window-container" id="window-container">
    </div>
    <!-- window-container -->
</div>