
<style>
    #YMapsID {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
</style>
<script type="text/javascript">
    var optionsTemplate = [].join('');
    ymaps.ready(init);
    function init() {
         var RegionControlLayout = ymaps.templateLayoutFactory.createClass(optionsTemplate, {}),
        // Наследуем класс нашего контрола от ymaps.control.Button.
         RegionControl = ymaps.util.defineClass(function (parameters) {
            RegionControl.superclass.constructor.call(this, parameters);
        }, ymaps.control.Button, {
            onAddToMap: function (map) {
                RegionControl.superclass.onAddToMap.call(this, map);
                this.setupStateMonitor();
                this.loadRegions(this.state.get('values'));
            },

            onRemoveFromMap: function (map) {
                map.geoObjects.remove(this.regions);
                this.clearStateMonitor();
                RegionControl.superclass.onRemoveFromMap.call(this, map);
            },

            setupStateMonitor: function () {
                this.stateMonitor = new ymaps.Monitor(this.state);
                this.stateMonitor.add('values', this.handleStateChange, this);
            },

            clearStateMonitor: function () {
                this.stateMonitor.removeAll();
            },

            handleStateChange: function (params) {
                this.loadRegions(params);
            },

            handleRegionsLoaded: function (res) {
                if (this.regions) {
                    map.geoObjects.remove(this.regions);
                }

                this.regions = new ymaps.ObjectManager();
                this.regions
                    .add(res.features.map(function (feature) {
                        feature.id = feature.properties.iso3166;
                        feature.options = {
                            strokeColor: '#ffffff',
                            strokeOpacity: 1,
                                fillColor: '#336897',
                            fillOpacity: 0.9,
                            hintCloseTimeout: 0,
                            hintOpenTimeout: 0
                        };
                        return feature;
                    }));
                map.geoObjects.add(this.regions);

                this.selectedRegionId = '';
                this.regions.events
                    .add('mouseenter', function (e) {
                        var id = e.get('objectId');
                        this.regions.objects.setObjectOptions(id, { strokeWidth: 2 });
                    }, this)
                    .add('mouseleave', function (e) {
                        var id = e.get('objectId');
                        if (this.selectedRegionId !== id) {
                            this.regions.objects.setObjectOptions(id, { strokeWidth: 1 });
                        }
                    }, this);
               
                this.getMap().setBounds(
                    this.regions.getBounds(),
                    { checkZoomRange: true }
                );
            },

            loadRegions: function (params) {
                this.disable();
                return ymaps.borders.load(params.region, params)
                    .then(this.handleRegionsLoaded, this)
                    .always(this.enable, this);
            }
        }),

            map = new ymaps.Map('YMapsID', {
                center: [53.90, 27.56],
                zoom: 1,
                controls: []
            }, {
                maxZoom: 17,
                restrictMapArea: [
                      [58.486077093111334, 15.89679288089655],
                      [49.77185323695446, 39.58331354601873]
                     ],
            }),

            // Создадим экземпляр RegionControl.
            regionControl = new RegionControl({
                state: {
                    enabled: true,
                    values: {
                        region: 'BY',
                        lang: 'ru',
                        quality: '3'
                    }
                },
                options: {
                    layout: RegionControlLayout
                }

            });

        // Добавим контрол на карту.
        map.controls.add(regionControl);
        // Узнавать о изменениях параметров RegionControl можно следующим образом.
        regionControl.events.add('statechange', function (e) {
            console.log(e.get('target').get('values'));
        });

        // Загрузим регионы.
        ymaps.borders.load('001', {
            lang: 'ru',
            quality: 3
        }).then(function (result) {

            // Создадим многоугольник, который будет скрывать весь мир, кроме заданной страны.
            var background = new ymaps.Polygon([
                [
                    [85, -179.99],
                    [85, 179.99],
                    [-85, 179.99],
                    [-85, -179.99],
                    [85, -179.99]
                ]
            ], {}, {
                fillColor: '#648baf',
                fillOpacity: 0.5,
                strokeWidth: 1.5,
                strokeColor: '#ffffff',
                coordRendering: 'straightPath'
            });
            // Найдём страну по её iso коду.
            var region = result.features.filter(function (feature) { return feature.properties.iso3166 == 'BY'; })[0];         
            var masks = region.geometry.coordinates;
            masks.forEach(function (mask) {
                background.geometry.insert(1, mask);
            });
            // Добавим многоугольник на карту.
            map.geoObjects.add(background);

        })
        // создание кластера
        clusterer = new ymaps.Clusterer({
            // Макет метки кластера pieChart.
            clusterIconLayout: 'default#pieChart',
            // Радиус диаграммы в пикселях.
            clusterIconPieChartRadius: 25,
            // Радиус центральной части макета.
            clusterIconPieChartCoreRadius: 10,
            // Ширина линий-разделителей секторов и внешней обводки диаграммы.
            clusterIconPieChartStrokeWidth: 3,
            // Определяет наличие поля balloon.
            hasBalloon: true
        });
        // получение координат для меток из бд
        $.ajax({
            url: 'https://localhost:7215/Home/GetCoordinates',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            async: true,
            success: function (result) {
                result.geoItems.forEach(element => {
                    // Технопарки
                    if (element.geoType == 0) {
                        var circleLayout = ymaps.templateLayoutFactory.createClass(`<div class="o-icon"><div class="parks-process-small d-none" id='${element.id}'></div></div>`);
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#33FF00",
                            iconLayout: circleLayout,
                            pane: 'overlaps',
                            iconImageOffset: [0, 0],
                        });
                    }
                    //Центр трансфера технологий
                    if (element.geoType == 1) {
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#5863FF"
                        });
                    }
                    // ИНН проекты
                    if (element.geoType == 2) {
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#FF0000"
                        });
                    }
                    //НТП
                    if (element.geoType == 3) {
                        var myGeoObject = new ymaps.GeoObject({
                            geometry: {
                                type: "Point", // тип геометрии - точка
                                coordinates: [element.x, element.y], // координаты точки
                            },
                        }, {
                            iconColor: "#FFA158"
                        });
                    }
                    //Можно менять опции кластеризатора после создания.
                    clusterer.options.set({
                        gridSize: 100,
                        clusterDisableClickZoom: false
                    });

                    clusterer.add(myGeoObject);
                    map.geoObjects.add(clusterer);

                    map.setBounds(clusterer.getBounds(), {
                        checkZoomRange: true
                    });

                    //myGeoObject.events
                    //    .add('mouseenter', function (e) {
                    //        if (element.geoType == 0) {
                    //            const $parksProcessSmall = $(`#${element.id}`);
                    //            $parksProcessSmall.removeClass("d-none");
                    //        }
                    //    })
                    //    .add('mouseleave', function (e) {
                    //        if (element.geoType == 0) {
                    //            const $parksProcessSmall = $(`#${element.id}`);
                    //            $parksProcessSmall.toggleClass("d-none");
                    //        }

                    //    });

                    myGeoObject.events.add('click', function () {
                        // Технопарки
                        if (element.geoType == 0) {
                            const $parksProcessSmall = $(`#${element.id}`);
                            $parksProcessSmall.removeClass("d-none");

                            var url = "@Url.Action("GetPartialTechParck", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }

                        //Центр трансфера технологий
                        if (element.geoType == 1) {
                            var url = "@Url.Action("GetPartialCTT", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }

                        // ИНН проекты
                        if (element.geoType == 2) {
                            var url = "@Url.Action("GetPartialInnProject", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }
                        //НТП
                        if (element.geoType == 3) {
                            var url = "@Url.Action("GetPartialNtpProject", "Home")";
                            var wrapperid = "#window-container";
                            AjaxAxtion(url, element.id, wrapperid);
                        }
                    });

                    function AjaxAxtion(url, id, wrapperid) {
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: url,
                            data: { id: id },
                            dataType: "html",
                            success: function (data) {
                                $(wrapperid).empty();
                                $(wrapperid).append(data);
                                top_popup();
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Ошибка загрузки таблицы!');
                            }
                        });
                    }
                    // фильтрация меток
                    $(document).ready(function () {
                        const $srtBTN_tech = $("#filtr_teh_ctt_bif");
                        $srtBTN_tech.click(function () {
                            clusterer.add(myGeoObject);
                            map.geoObjects.add(clusterer);
                            if ($('#filtr_techparck').is(':checked')) {
                                if (element.geoType != 0) {
                                    clusterer.remove(myGeoObject);
                                }
                            }
                            if ($('#filtr_ctt').is(':checked')) {
                                if (element.geoType != 1) {
                                    clusterer.remove(myGeoObject);
                                }
                            }
                            if ($('#filtr_techparck').is(':checked') && $('#filtr_ctt').is(':checked')) {
                                clusterer.add(myGeoObject);
                                map.geoObjects.add(clusterer);
                                if (element.geoType != 0 && element.geoType != 1) {
                                    clusterer.remove(myGeoObject);
                                }
                            }
                            if (!$('#filtr_techparck').is(':checked') && !$('#filtr_ctt').is(':checked') && !$('#filtr_bif').is(':checked')) {
                                clusterer.add(myGeoObject);
                                map.geoObjects.add(clusterer);
                            }
                        });
                    });
                });
            }
        });
    }
 // При нажатии на вкладку "Субъекты инновационной инфраструктуры"
    $(document).ready(function () {
        const $showDataItem_techpar_ctt = $("#Item_techparck_ctt");
        $showDataItem_techpar_ctt.click(function () {
            let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
            $("#info_object_Inn").empty();
            $("#info_object_ntp").empty();
            if (hasClass) {
                $.ajax({
                    url: 'https://localhost:7215/Home/PostData',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (result) {
                        // Технопарки
                        result.technopark.forEach(itemTechnopark => { $("#info_object_tehnoparck_ctt").append(getInfoTechnopark(itemTechnopark)); })
                        // ЦТТ
                        result.techTransferCenter.forEach(itemTechTransferCenter => { $("#info_object_tehnoparck_ctt").append(getInfoTechTransferCenter(itemTechTransferCenter)); })
                    }
                });
                // Технопарк
                function getInfoTechnopark(itemTechnopark) {

                    return `
                                <a href="#" class="info_item">         
                                    <div class="info_item-icon parks-actual-big"></div>
                                    <div class="info_item-data item-header-js" data-type="tehParckHeader" data-id="${itemTechnopark.id}">
                                        <h3>${itemTechnopark.nameTechnopark}</h3>
                                        <span class="info_item-region">Республика</span>
                                   </div>
                                </a>
                        `;
                }
                // ЦТТ
                function getInfoTechTransferCenter(itemTechTransferCenter) {
                    return `
                               <a href="#" class="info_item">
                                    <div class="info_item-icon parks-actual-big"></div>
                                    <div class="info_item-data item-header-js" data-type="cctHeader" data-id="${itemTechTransferCenter.id}">
                                        <h3>${itemTechTransferCenter.nameTechTransferCenter}</h3>
                                        <span class="info_item-region">Республика</span>
                                   </div>
                              </a>
                          `;
                }

            }
            else {
                $('.sidebarmap-accordion_item').removeClass('active_block');
                $("#info_object_tehnoparck_ctt").empty();
            }
        });
    });

// При нажатии на вкладку "Инновационные проекты"
    $(document).ready(function () {
        const $showDataItem_inn = $("#Item_inn");
        $showDataItem_inn.click(function () {
            let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
            $("#info_object_ntp").empty();
            $("#info_object_tehnoparck_ctt").empty();
            if (hasClass) {
                $.ajax({
                    url: 'https://localhost:7215/Home/PostData',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (result) {
                        // ИНН
                        result.innProject.forEach(itemInnProject => { $("#info_object_Inn").append(getInfoInn(itemInnProject)); })
                    }
                });
                //ИНН
                function getInfoInn(itemInnProject) { 
                    return `
                                 <a href="#" class="info_item">
                                     <div class="info_item-icon parks-actual-big"></div>
                                     <div class="info_item-data item-header-js" data-type="InnHeader" data-id="${itemInnProject.id}">
                                        <h3>${itemInnProject.nameInnProject}</h3>
                                        <span class="info_item-region">Республика</span>
                                     </div>
                                 </a>
                            `;
                }
            }
            else {
                $('.sidebarmap-accordion_item').removeClass('active_block');
                $("#info_object_Inn").empty();
            }
        });
    });

 // При нажатии на вкладку "Научно-технологические  программы"
    $(document).ready(function () {
        const $showDataItem_ntp = $("#Item_ntp");
        $showDataItem_ntp.click(function () {
            let hasClass = $('.sidebarmap-accordion_item').hasClass('active_block');
            $("#info_object_Inn").empty();
            $("#info_object_tehnoparck_ctt").empty();
            // если меню открыто, то выполнить ajax запрос и подставить данные
            if (hasClass) {
                $.ajax({
                    url: 'https://localhost:7215/Home/PostData',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    async: true,
                    success: function (result) {
                        //  console.log(result)
                        // НТП
                        result.ntpProject.forEach(itemNtpProject => { $("#info_object_ntp").append(getInfoNtp(itemNtpProject)); })
                    }
                });
                // НТП
                function getInfoNtp(itemNtpProject) { 
                    return `
                             <a href="#" class="info_item  item-header-js" data-type="NtpHeader" data-id="${itemNtpProject.id}">
                                <div class="info_item-icon parks-actual-big"></div>
                                <div class="info_item-data">
                                    <h3>${itemNtpProject.nameTask}</h3>
                                    <span class="info_item-region">Республика</span>
                               </div>
                             </a>
                                `;
                }
            }
            // При закртии меню происходит очистка div, чтобы избежать дублирования информации
            else {
                $('.sidebarmap-accordion_item').removeClass('active_block');
                $("#info_object_ntp").empty();
            }
        });
    });

 // всплывающего окна
 function top_popup() { 
            $(document).ready(function () { 
                const $closeWindow = $(".close-window");
                const $windowbar = $(".window");
                const $windowChild = $(".window-child");
                const $windowBlock = $(".window-block");
                const $buttonLeft = $(".window-side-button_left");
                const $childContainer = $(".window-child-container");
                const $closeBtn = $(".window-side-button");
                const $parksProcessSmall = $(".parks-process-small");

                $windowbar.toggleClass("active");
                $windowChild.toggleClass("active");
                $windowBlock.removeClass("d-none");
                let hasClass = $('.window').hasClass('active');
                if (!hasClass)
                {
                   $("#window-container").empty();
                }

                $closeWindow.click(function () {
                    $windowbar.removeClass("active");
                    $windowChild.removeClass("active");
                $("#window-container").empty();
                  $windowBlock.toggleClass("d-none");
               
                  $parksProcessSmall.addClass("d-none");
                });

                $closeBtn.click(function () {
                    $windowChild.animate({width: 300}, 250);
                    $buttonLeft.show();
                    $childContainer.show();
                });

               $buttonLeft.on('click',function(){
                    $windowChild.animate({width: 0}, 200);
                    $buttonLeft.hide();
                    $childContainer.hide();
               });
    });
 }

 // получение данных по id
    $(document).ready(function () {
        $('.sidebarmap').on('click', '.item-header-js', function () {
            var url = "";
            var wrapperid = "";
            var id = $(this).attr("data-id");

            switch ($(this).attr("data-type")) {
                case 'cctHeader':
                   url = "@Url.Action("GetPartialCTT", "Home")";
                   wrapperid = "#window-container";
                break;
                case 'tehParckHeader':
                    url = "@Url.Action("GetPartialTechParck", "Home")";
                    wrapperid = "#window-container";
                break;
                case 'InnHeader':
                    url = "@Url.Action("GetPartialInnProject", "Home")";
                    wrapperid = "#window-container";
                break;
                case 'NtpHeader':
                    url = "@Url.Action("GetPartialNtpProject", "Home")";
                    wrapperid = "#window-container";                      
                break;
            }
            if (url != "") {
                AjaxAxtion(url, id, wrapperid);
            }
        });
        function AjaxAxtion(url, id, wrapperid) {

            $.ajax({
                cache: false,
                type: "GET",
                url: url,
                data: { id: id },
                dataType: "html",
                success: function (data)
                {
                    $(wrapperid).empty();
                    $(wrapperid).append(data);
                    const $parksProcessSmall = $(`#${id}`);
                    $parksProcessSmall.removeClass("d-none");
                    top_popup();

                },
                error: function (xhr, ajaxOptions, thrownError)
                {
                    alert('Ошибка загрузки данных!');
                }
            });
            }
         });
</script>

<div id="YMapsID"></div>

<!-- left sidebar map -->
    <div class="sidebarmap">
        <div class="sidebarmap-container">
            <!-- accordion -->
            <div class="sidebarmap-accordion">
                <!-- Субъекты инновационной инфраструктуры -->
                <section class="sidebarmap-accordion_item">
                    <h3 class="title_block" id="Item_techparck_ctt">
                        Субъекты инновационной <br> инфраструктуры
                    </h3>
                <div class="info">
                        <div class="info_panel" id="filtr_teh_ctt_bif">
                        <div class="info_panel-switchers d-flex justify-content-center">
                            <input type="checkbox" id="filtr_techparck">
                            <label for="filtr_techparck" style="border-bottom: 3px solid #3fab3c;">Технопарки</label>
                            <input type="checkbox" id="filtr_ctt">
                            <label for="filtr_ctt" style="border-bottom: 3px solid #ff9601;">ЦТТ</label>
                            <input type="checkbox" id="filtr_bif">
                            <label for="filtr_bif" style="border-bottom: 3px solid #9494b6">БИФ и НЦИС</label>
                        </div>
                        <div class="info_panel-filter">
                            <span class="filter-name">Регион</span>
                            <div class="mb-3">
                                <select class="form-select" id="small-select2-options-multiple-field" data-placeholder="Найти"
                                        placeholder="Выберите" multiple>
                                    <option>Минск</option>
                                    <option>Минская область</option>
                                    <option>Могилевская область</option>
                                    <option>Брестская область</option>
                                    <option>Гомельская область</option>
                                    <option>Гродненская область</option>
                                    <option>Витебская область</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="sort-bar">
                        <span class="sort-icon"></span>
                        <span class="sort-button">Название</span>
                    </div>
                        <div class="info_object" id="info_object_tehnoparck_ctt">
                          
                        </div>
                    </div>
                </section>
                 <!--КОНЕЦ Субъекты инновационной инфраструктуры -->

                 <!-- Инновационные проекты -->
                <section class="sidebarmap-accordion_item">
                    <h3 class="title_block" id="Item_inn">Инновационные проекты</h3>
                    <div class="info">
                        <div class="info_panel" id="filt_inn">
                        <div class="info_panel-switchers d-flex justify-content-center">
                            <input type="checkbox" id="filtr_inn_end">
                            <label for="filtr_inn_end" style="border-bottom: 3px solid #3fab3c;">Завершен</label>
                            <input type="checkbox" id="filtr_inn_continues">
                            <label for="filtr_inn_continues" style="border-bottom: 3px solid #ff9601;">Продолжается</label>
                            <input type="checkbox" id="filtr_inn_execute">
                            <label for="filtr_inn_execute" style="border-bottom: 3px solid #9494b6">Выполнится</label>
                        </div>
                        <div class="info_panel-filter">
                            <span class="filter-name">Регион</span>
                            <div class="mb-3">
                                <select class="form-select" id="small-select2-options-multiple-field_inn" data-placeholder="Найти"
                                        placeholder="Выберите" multiple>
                                    <option>Минск</option>
                                    <option>Минская область</option>
                                    <option>Могилевская область</option>
                                    <option>Брестская область</option>
                                    <option>Гомельская область</option>
                                    <option>Гродненская область</option>
                                    <option>Витебская область</option>
                                </select>
                            </div>
                        </div>
                        </div>

                    <div class="sort-bar">
                        <span class="sort-icon"></span>
                        <span class="sort-button" data-field="name">Название</span>
                    </div>
                        <div class="info_object" id="info_object_Inn">

                        </div>
                    </div>
                </section>
                <!--КОНЕЦ Инновационные проекты -->

                <!--Научно-технологические программы -->
                <section class="sidebarmap-accordion_item">
                    <h3 class="title_block" id="Item_ntp">Научно-технологические <br> программы</h3>
                <div class="info">
                    <div class="info_panel" id="filtr_ntp">
                        <div class="info_panel-switchers d-flex justify-content-center">
                            <input type="checkbox" id="filtr_ntp_p1">
                            <label for="filtr_ntp_p1" style="border-bottom: 3px solid #3fab3c;">Программа 1</label>
                            <input type="checkbox" id="filtr_ntp_p2" >
                            <label for="filtr_ntp_p2" style="border-bottom: 3px solid #ff9601;">Программа 2</label>
                            <input type="checkbox" id="filtr_ntp_p3">
                            <label for="filtr_ntp_p3" style="border-bottom: 3px solid #9494b6">Программа 3</label>
                        </div>
                        <div class="info_panel-filter">
                            <span class="filter-name">Регион</span>
                            <div class="mb-3">
                                <select class="form-select" id="small-select2-options-multiple-field_ntp" data-placeholder="Найти"
                                        placeholder="Выберите" multiple>
                                    <option>Минск</option>
                                    <option>Минская область</option>
                                    <option>Могилевская область</option>
                                    <option>Брестская область</option>
                                    <option>Гомельская область</option>
                                    <option>Гродненская область</option>
                                    <option>Витебская область</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="sort-bar">
                        <span class="sort-icon"></span>
                        <span class="sort-button">Название</span>
                    </div>
                        <div class="info_object" id="info_object_ntp">

                        </div>
                </div>
            </section>
             <!--КОНЕЦ Научно-технологические программы -->
            </div>
            <!-- end accordion -->
        </div>
    </div>
<!-- end <!-- left sidebar map -->

    <!-- window -->
<div class="window-block d-none"></div>
    <div class="window">
        <div class="window-container" id="window-container">
       
        </div>
        <!-- window-container -->
    </div>
    <!-- end window -->

<!--  modal window for the gallery -->
@*   <script>
    function openModal() {
        document.getElementById("modal-gallery").style.display = "block";
        showSlides(slideIndex); // Показать первый слайд при открытии модального окна
    }

    function closeModal() {
        document.getElementById("modal-gallery").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("slides-gallery");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1;
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
   </script>*@
<!-- end modal window for the gallery -->
